hr {
  display: block;
}

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-size-adjust: 100%;
  box-sizing: border-box;
  color: #fff;
  cursor: default;
  font-family: "Arial Rounded MT Bold","Trebuchet MS",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  vertical-align: top;
}

pre {
  overflow: auto;
}

@media (min-width:30em) {
  :root {
    font-size: 16px;
  }
}

*,
::after,
::before {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  cursor: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #272b30;
}

a,
button {
  cursor: initial;
}

hr {
  border: 0;
  border-top: 1px solid #e0e0e0;
  height: 1px;
  margin: 20px 0;
}

::selection {
  background-color: #d6d6d6;
}

::-moz-selection {
  background-color: #d6d6d6;
}

blockquote {
  border-left: 1px solid #e0e0e0;
  color: #999;
  margin-bottom: 20px;
  padding: 0 1em;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-family: Calibri,Helvetica,Arial,sans-serif;
  line-height: 1.25em;
}

h1 small,
h2 small,
h3 small {
  color: #999;
  font-weight: lighter;
  vertical-align: 0;
}

h1,
h2,
h3 {
  margin: 20px 0 10px;
}

h1 small,
h2 small,
h3 small {
  font-size: 65%;
}

h4 {
  margin: 10px 0;
}

ol,
ul {
  margin-bottom: 10px;
}

[column],
[row] {
  margin-bottom: 0;
}

h1 {
  font-size: 2.25em;
}

@media (min-width:48em) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.6875em;
}

@media (min-width:48em) {
  h2 {
    font-size: 2.25em;
  }
}

h3 {
  font-size: 1.3125em;
}

@media (min-width:48em) {
  h3 {
    font-size: 1.75em;
  }
}

h4 {
  font-size: 1.125em;
}

ol,
ul {
  padding-left: 1.5em;
}

.clearfix:after,
.group:after,
[row]:after {
  clear: both;
}

@media print {
  h2,
  h3,
  img {
    page-break-after: avoid;
  }

  blockquote,
  code,
  img,
  pre {
    page-break-inside: avoid;
  }

@page {
    margin: .5cm;
}

  *,
  :after,
  :before {
    background: 0 0!important;
    color: #000!important;
    filter: none!important;
    text-shadow: none!important;
  }

  :root {
    background-color: #fff;
    color: #000;
    font: 11pt/1.3 Georgia,"Times New Roman",Times,serif;
  }

  img {
    max-width: 100%!important;
  }

  .hide--print,
  a[href^="#"]:after,
  footer,
  nav {
    display: none;
    visibility: hidden;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  a,
  a:visited {
    color: #000;
    font-size: .57em;
    text-decoration: underline;
    word-wrap: break-word;
  }

  a:visited[href]:after,
  a[href]:after {
    content: " (" attr(href) ")";
    font-size: smaller;
  }

  a:after,
  a[href^="#"]:after {
    content: "";
  }

  code,
  pre {
    background-color: none;
    border: 1px solid #e0e0e0;
  }

  blockquote {
    border: none;
  }

  ol {
    padding-left: 1.25em;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  ol li,
  ul li {
    content: "&raquo; ";
  }

  .badge,
  .badge :after,
  .badge:before,
  .label,
  .label :after,
  .label:before,
  .progress,
  .progress :after,
  .progress:before {
    display: none;
    visibility: hidden;
  }
}

em,
i {
  font-style: italic;
}

img {
  max-width: 100%;
}

code,
pre {
  background-color: #1f2328;
}

strong {
  font-weight: 700;
}

small {
  font-size: 75%;
  vertical-align: text-bottom;
}

p:not(:last-child) {
  margin-bottom: 20px;
}

a {
  background-color: transparent;
  color: #ffa000;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}

h3 a {
  color: #fff;
}

h3 a:focus,
h3 a:hover {
  color: #ffa000;
  text-decoration: none;
}

code,
pre {
  font-family: Consolas,monospace;
  font-size: .875em;
}

pre {
  padding: 16px 1.5em;
}

code {
  vertical-align: middle;
  white-space: nowrap;
  padding: 2px 3px;
}

pre code {
  padding: 0;
  background-color: transparent;
}

code,
pre {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  color: #f2f2f2;
  margin-bottom: 24px;
}

pre code {
  border: none;
  vertical-align: inherit;
  white-space: pre;
}

[column],
[container] {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix:after,
.clearfix:before,
[row]:after,
[row]:before {
  display: table;
  content: "";
}

[container] {
  margin: 0 auto;
  max-width: 1200px;
}

[row] {
  margin-left: -15px;
  margin-right: -15px;
}

[column] {
  float: left;
}

@media (min-width:48em) {
  [column~="3"] {
    width: 25%;
  }

  [column~="4"] {
    width: 33.33333%;
  }

  [column~="6"] {
    width: 50%;
  }

  [column~="12"] {
    width: 100%;
  }
}

.text--muted {
  color: #777!important;
}

.bg--muted {
  background-color: #777!important;
}

.text--primary {
  color: #ffa000!important;
}

.text--success {
  color: #48c141!important;
}

.bg--success {
  background-color: #48c141!important;
}

.text--error {
  color: #d22e2e!important;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.badge {
  background-color: #ffa000;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-size: .75em;
  line-height: 24px;
  padding: 0 .75em;
}

.collection {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  list-style-type: none;
  margin: 24px 0;
  padding: 0;
}

.collection-item {
  border-bottom: 1px solid #e0e0e0;
  display: block;
  margin: 0;
  padding: 8px 1em;
}

.collection-item:last-of-type {
  border-bottom: none;
}

.group-item:hover {
  background-color: #1f2328;
}

.nav ul,
.progress {
  text-align: center;
}

.group-item {
  font-size: .875em;
  transition: background-color .2s;
}

.group {
  padding: 0;
}

.group {
  display: inline-block;
  margin-bottom: 24px;
}

.group:after,
.group:before {
  content: "";
  display: table;
}

.group-item,
.label {
  display: inline-block;
}

.group-item {
  border: 1px solid #e0e0e0;
  float: left;
  line-height: 32px;
  list-style: none;
}

.group-item:not(:first-child) {
  margin: 0 0 0 -1px;
}

.group-item:first-child {
  border-radius: 3px 0 0 3px;
}

.group-item:last-child {
  border-radius: 0 3px 3px 0;
}

.label,
.progress,
.progress>span {
  border-radius: 3px;
}

.label {
  background-color: #ffa000;
  color: #fff;
  font-size: .75em;
  line-height: 24px;
  padding: 0 1em;
}

.progress {
  background-color: #1f2328;
  box-shadow: inset 0 1px 1px rgba(224,224,224,.25);
  box-sizing: initial;
  color: #fff;
  font-size: .6875em;
  height: 14px;
  line-height: 1.2;
  margin-bottom: 24px;
  position: relative;
  width: 100%;
}

.progress>span {
  background-color: #ffa000;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: auto;
}

.active,
.card,
.nav li a:hover {
  background-color: #1f2328;
}

.progress--striped>span:after {
  background-image: -webkit-gradient(linear,0 0,100% 100%,color-stop(.25,rgba(255,255,255,.2)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,.2)),color-stop(.75,rgba(255,255,255,.2)),color-stop(.75,transparent),to(transparent));
  background-image: -moz-linear-gradient(-45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent);
  background-size: 50px 50px;
  bottom: 0;
  content: "";
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.progress--striped.progress--animate>span:after {
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

figcaption {
  color: #999;
  font-style: italic;
}

.group-item {
  padding: .5em 2em;
}

.group {
  margin-top: 1em;
}

a:focus,
a:hover {
  color: #fff;
}

.card {
  border: 1px solid #e0e0e0;
  margin-bottom: 16px;
  padding: 16px 1.5em;
  overflow: hidden;
  position: relative;
}

.card-image {
  float: left;
  margin-right: 16px;
}

.nav ul {
  margin: 0;
  list-style: none;
}

.lead {
  font-size: 18px;
  font-weight: 300;
}

.img-circle {
  border-radius: 50%;
}

.my-fa {
  display: inline-block;
  font: normal normal normal 14px/1 FortAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
}

.nav ul {
  padding: 0;
}

.nav li a {
  display: block;
  height: 3.4em;
  line-height: 2.04em;
  padding: .68em 18px;
}

.nav li a:hover {
  color: #fff;
}

@media (min-width:48em) {
  .nav ul {
    float: right;
  }

  .nav li {
    float: left;
  }
}

.active {
  color: #fff;
  cursor: default;
}

.logo img {
  max-height: 3.4em;
  padding: .68em;
}

.hide--desktop {
  display: block;
  visibility: visible;
}

.hide--mobile {
  display: none;
  visibility: hidden;
}

@media (min-width:60em) {
  .hide--mobile {
    display: block;
    visibility: visible;
  }

  .hide--desktop {
    display: none;
    visibility: hidden;
  }
}
