<!-- Begin Mailchimp Signup Form -->
<script type="text/javascript">
 function validateMailingEmail()
 {
     var address = document.forms["mc-embedded-subscribe-form"]["EMAIL"].value;
     const re = /^\S+@\S+$/;
     return re.test(address);
 }
</script>

<div style="text-align: center">
    <form action="https://gdquest.us13.list-manage.com/subscribe/post?u=3615f79caa5ec656a8f7dfdbc&amp;id=9aeb15f656" method="post" onsubmit="return validateMailingEmail();" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div>
            <h3>Become a better game developer</h3>
            <p>Get our latest game creation tutorials, tricks, and open-source tools.</p>
            <div class="form-field">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3615f79caa5ec656a8f7dfdbc_9aeb15f656" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button -noborder">
            <p><i class="fa fa-lock"></i> No spam. Unsubscribe anytime.</p>
        </div>
    </form>
</div>

<!--End mc_embed_signup-->
