<script type="text/javascript">
 function openModalPopup(modal) {
     modal.classList.remove("-hidden");
 }
 function closeModalPopup(modal) {
     modal.classList.add("-hidden");
 }
</script>

<button class="button-link" onclick="openModalPopup(this.nextElementSibling)">Open Modal</button>
<div class="modal-popup -hidden" onclick="closeModalPopup(this)">
    <div class="content">
        <div class="header">
            <span class="close" onclick="closeModalPopup(this.parentNode.parentNode.parentNode)" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        </div>
        <div class="body">
            {{ partialCached "components/mailing-signup" . }}
        </div>
    </div>
</div>
