{{ $currentPage := . }}
<nav class="nav-tutorial" role="navigation">
    <ul>
        {{ range .Sections }}
        <li>
            <div class="menu-link -section" onclick="navTutorialMakeSectionActive(this)">
                <a href="javascript:void(0)" {{ if or (eq $currentPage .) (eq $currentPage .CurrentSection)  }}class="-active"{{ end }} class="section">{{ .Title }}</a>

            </div>

            {{ $children := . }}
            {{ if .Sections }}
            {{ $children = .Sections }}
            {{ else }}
            {{ $children = .RegularPages }}
            {{ end }}
            {{ if $children }}
            <ul class="-folded">
                {{ range $children }}
                <li>
                    <div class="menu-link">
                        <a href="{{ .Permalink }}" class="-tutorial {{ if eq $currentPage . }}-active{{end}}">
                            {{ .Title }}
                        </a>
                    </div>
                </li>
                {{ end}}
            </ul>
            {{ end}}
        </li>
        {{ end}}
    </ul>
</nav>
