<!-- Side menu for the /tutorial/ section -->
<script type="text/javascript">
 var navTutorialLinks = document.getElementsByClassName("menu-link", "-section");
 // Toggles links visible in the side menu
 function navTutorialToggleSection(menuLink) {
     menuLink.nextElementSibling.classList.toggle("-folded");
 }

 // Toggles the tutorial menu, altering the overflow of <body>
 function navTutorialMobileToggle(closeButton) {
     if (document.body.style.overflowY === "") {
         document.body.style.overflowY = "hidden";
     } else {
         document.body.style.overflowY = "";
     }
     closeButton.previousElementSibling.classList.toggle("-open")
 }
</script>

{{ $currentPage := . }}
{{ $sections := "" }}
{{ $isIntermediatePage := false }}

{{ if .IsPage }}
{{/* "Leaf" page such as `/tutorial/godot/audio/volume-slider/`. */}}
{{ $sections = $currentPage.Parent.Parent.Sections }}
{{ else if .Sections }}
{{/* Root section page. */}}
{{ $sections = .Sections }}
{{ else }}
{{/* Intermediate page such as `/tutorial/godot/audio/`. */}}
{{ $isIntermediatePage = true }}
{{ $sections = $currentPage.Parent.Sections }}
{{ end }}

<nav class="nav-tutorial" role="navigation">
    <div class="title">Menu</div>
    <hr />
    <ul class="list">
        {{ range $sections }}

        {{ $isActiveSection := false }}
        {{ if $isIntermediatePage }}
        {{ $isActiveSection = eq $currentPage .CurrentSection }}
        {{ else }}
        {{ $isActiveSection = eq $currentPage.Parent .CurrentSection }}
        {{ end }}
        <li>
            <div class="menu-link -section" style="justify-content: start" onclick="navTutorialToggleSection(this)">
                {{ with .Params.icon }}
                <svg class="tut-menu-icon">
                    <use xlink:href="/img/icons/menu-icons.svg#{{ . }}" />
                </svg>
                {{ end }}
                <a href="javascript:void(0)" class="section {{ if $isActiveSection }}-active{{ end }}">{{ .Title }}</a>
            </div>

            {{ $children :=  union .Sections .RegularPages  }}
            {{ if $children }}

            <ul class="{{ if and (ne $currentPage.Type "course") (not $isActiveSection) }}-folded{{ end }}">
                {{ range $children.ByWeight }}
                <li>
                    <div class="menu-link -child1">
                        <a href="{{ .Permalink }}" class="-tutorial {{ if eq $currentPage . }}-active{{end}}">
                            {{ with .Params.menuTitle }}{{ . }}{{ else }}{{ .Title }}{{ end }}
                        </a>
                        {{ with partialCached "functions/get-tutorial-pill-data" . . }}
                        <span class="tag-pill {{ .class }}">{{ .type }}</span>
                        {{ end }}
                    </div>
                </li>
                {{ end}}
            </ul>
            {{ end}}
        </li>
        {{ end}}
    </ul>
</nav>
<button href="javascript:void(0)" class="button-link -navtutorial -bottom -fullwidth -mobileonly" onclick="navTutorialMobileToggle(this)"><div class="text"><i class="fa fa-bars"></i> Tutorials</div></button>
