<!--<iframe width="800" height="450" class="yt-video" src="https://www.youtube.com/embed/{{.}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>-->
<!--</iframe>-->

<!-- video wrapper -->
<div class="youtube" data-embed="{{.}}">
    <!-- "play" button -->
    <div class="play-button"></div>
</div>

<script>
    var youtube = document.querySelectorAll( ".youtube" );

    for (var i = 0; i < youtube.length; i++) {

        // thumbnail image source.
        var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";

    }
    for (var i = 0; i < youtube.length; i++) {

        // Load the image asynchronously
        var image = new Image();
        image.src = source;
        image.addEventListener( "load", function() {
            youtube[ i ].appendChild( image );
        }( i ) );
    }
    for (var i = 0; i < youtube.length; i++) {
        youtube[i].addEventListener( "click", function() {

            var iframe = document.createElement( "iframe" );

            iframe.setAttribute( "frameborder", "0" );
            iframe.setAttribute( "allowfullscreen", "" );
            iframe.setAttribute( "allow", "autoplay; encrypted-media" );
            iframe.setAttribute( "src", "https://www.youtube.com/embed/" + this.dataset.embed );

            this.innerHTML = "";
            this.appendChild( iframe );
        } );
    }
</script>
