<div class="container">
  {{ partial "head" . }}

  <div class="row">
    {{range where .Site.Pages "Type" "home"}}
    <div class="col-md-6">
      {{.Content }}
    </div>
    {{ end }}
  </div>

  <div class="row">
    <h3>Latest news</h3>
    {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }} {{ range $paginator.Pages }} {{ .Render "summary" }} {{ end }}
  </div>

  <!-- <div class="row"> -->
  <!-- {{ partial "block/pagination" . }} -->
  <!-- </div> -->

  {{ partial "footer" . }}
</div>
