<!-- Course roadmap GENERATION -->
<!-- Global variables -->
{{ $options := (index .Site.Data.courses .Params.course).options }}
{{ $banner_image := index $options "banner_image" }}


<div class="container">
{{ partial "head" . }}

<div class="row">
  <!-- Global progress -->
  <!-- {{ $.Scratch.Set "videos" 0 }}
  {{ $.Scratch.Set "videos_done" 0 }}

  {{ range (index .Site.Data.courses .Params.course).chapters }}
    {{ range . }}
      {{ range .videos }}
        {{ $.Scratch.Add "videos" 1 }}
        {{ if ne .url "" }} {{ $.Scratch.Add "videos_done" 1 }} {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $videos_done := $.Scratch.Get "videos_done" }}
  {{ $videos := $.Scratch.Get "videos" }} -->

  <!-- Get approximate %, by multiplying $videos_done by 100 (int division) -->
  <!-- {{ $course_progress := div (mul $videos_done 100) $videos }}

  <div class="row">
    <div class="progress">
      <div class="progress-bar progress-bar-sm {{ if ge $course_progress 100 }}progress-bar-success{{ else }}progress-bar-info{{ end }} progress-bar-striped {{ if ge $course_progress 100 }}active{{ end }}" role="progressbar" aria-valuenow="{{ $course_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ $course_progress }}%;">
        Course creation progress: {{ $course_progress }} %
      </div>
    </div>
  </div> -->

  <!-- BANNER IMAGE -->
  <div class="row" id="top">
    <img src="{{ $banner_image }}" class="img-responsive" alt="{{ .Title }} banner picture" />
  </div>

  <h1>{{ .Title }} <small>Course roadmap</small></h1>

  <!-- Inner page navigation -->
  <div class="row margin-top">
    <span class="Lead text-muted">
      Navigation
    </span>
    <div class="btn-group btn-group-justified">
      {{ range (index .Site.Data.courses .Params.course).chapters }}
        {{ range . }}
        <a href="#{{ replace .title " " "-" }}" class="btn btn-default">
          <i class="fa fa-book"></i> {{ .title }}
        </a>
        {{ end }}
      {{ end }}
    </div>
  </div>

  <!-- Page introduction/content file -->
  <div class="row margin-top">
    {{ .Content }}
  </div>

  <!-- RANGING OVER INDIVIDUAL CHAPTERS -->
    {{ range (index .Site.Data.courses .Params.course).chapters }}
      {{ range . }}

        <!-- CHAPTER TITLE AND DESCRIPTION -->
        <h2 id="{{ replace .title " " "-" }}"><i class="fa fa-book"></i> {{ index .title }} <small>{{ index .small }}</small></h2>
        <p>{{ index .description | markdownify }}</p>

        <!-- CALCULATE % OF VIDEOS ALREADY DONE (OUT ON YOUTUBE) -->
        {{ $.Scratch.Set "video_count" 0 }}
        {{ $.Scratch.Set "video_count_done" 0 }}

        {{ range .videos }}
        {{ $.Scratch.Add "video_count" 1 }}
        {{ if ne .url "" }} {{ $.Scratch.Add "video_count_done" 1 }} {{ end }}
        {{ end }}

        {{ $video_count := $.Scratch.Get "video_count" }}
        {{ $video_count_done := $.Scratch.Get "video_count_done" }}
        {{ $progress := div (mul $video_count_done 100) $video_count }}

        <!-- Chapter progress -->
        <p class="text-muted">Chapter progress: <span class="{{ if ge $progress 100 }}text-success{{ else }}text-info{{ end }}">{{$progress}} %</span></p>
        <!-- <div class="progress">
          <div class="progress-bar progress-bar-sm progress-bar-success progress-bar-striped {{ if ge $progress 100 }}active{{ end }}" role="progressbar" aria-valuenow="{{ $progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ $progress }}%;">
            Chapter progress: {{ $progress }} %
          </div>
        </div> -->

        <!-- CHAPTER INTRO VIDEO -->
        {{ if isset . "introduction" }}
          <ul class="list-group">
            <li class="list-group-item">
              {{ if ne .url "" }} <i class="fa fa-check text-success"></i> {{ end }}
                {{ .introduction.title }}
            </li>
          </ul>
        {{ end }}

        <!-- RANGING OVER INDIVIDUAL VIDEOS IN A CHAPTER -->
        <ol class="list-group">
          {{ range .videos }}
            <li class="list-group-item">
              {{ if ne .url "" }} <i class="fa fa-check text-success"></i> {{ end }}
              <strong>{{ .title }}</strong>
              {{ if and (isset . "description") (ne .description "") }} : <span class="text-muted">{{ .description | markdownify }} </span> {{ end }}
            </li>
          {{ end }}
        </ol>

      {{ end }}
    {{ end }}
</div>

{{ if isset .Params "author" }}
  {{ partial "modules/author" . }}
{{ end }}

{{ partial "footer" . }}
</div>
