<nav class="container nav primary no-print">
  <!-- HOME -->
  {{ $baseurl := .Site.BaseURL }}
  {{ with .Site.Params.home }}
  <a class="homelink" href="{{ $baseurl }}">{{ . }}</a>
  {{ end }}

  {{ range .Site.Data.Menu }}
  <a href="{{ .URL | absURL }}"{{ if and ( isset . "Title" ) ( ne .Title "" ) }} title="{{ .Title }}"{{ end }}>{{ .Name }}</a>
  {{ end }}
</nav>

<div class="container nav secondary no-print">
  <div class="section" id="Social Links">
    <div class="container">
      <div class="row text-center col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="col-xs-3 text-center"> <a href="http://youtube.com/c/gdquest" target="_blank"><i class="fa fa-3x fa-fw fa-youtube"></i></a> </div>
        <div class="col-xs-3"> <a href="https://twitter.com/NathanLovatoArt" target="_blank"><i class="fa fa-3x fa-fw fa-twitter"></i></a> </div>
        <div class="col-xs-3"> <a href="https://www.facebook.com/gdquest" target="_blank"><i class="fa fa-3x fa-fw fa-facebook"></i></a> </div>
        <div class="col-xs-3 text-center"> <a href="https://plus.google.com/b/105918903292667568234/+Gdquest" target="_blank"><i class="fa fa-3x fa-fw hub fa-google-plus"></i></a> </div>
      </div>
    </div>
  </div>
</div>
