baseURL = "//gdquest.com/"
languageCode = "en-us"
title = "GDQuest"
titleCaseStyle = "Chicago"

disableLanguages = ["es", "fr", "ja"]

disableKinds = ["taxonomy", "term"]

paginate = 6
paginatePath = "page"

[outputFormats]
[outputFormats.search]
mediaType = "application/json"
baseName = "search"
isPlainText = true

[outputs]
home = [ "HTML", "RSS", "SEARCH" ]

[[module.mounts]]
source = "static/js"
target = "assets/js"

# Required for the virtual file system to build css
[[module.mounts]]
source = "assets/scss"
target = "assets/scss"

[[module.mounts]]
source = "static/img"
target = "assets/img"

[author]
name = "Nathan Lovato"
email = "nathan@gdquest.com"

# Site parameters
[params]
topline = "Game Design Quest"
home = "home"
highlight = "default"

ytapikey = "AIzaSyAUCyzwHmO71chFn7wMa6VlBNzk0tpkFYk"

# Social network names for Meta tag SEO
twitter = "NathanGDQuest"

github_repo = "//github.com/GDQuest/GDQuest-website/"
license_copyright= "GDQuest and contributors"

[params.shop_link]
name        = "Shop"
url         = "//gdquest.mavenseed.com/courses"

[[params.social]]
link = "//www.youtube.com/c/gdquest"
icon = "youtube"
description = "GDQuest Youtube channel"

[[params.social]]
link = "//twitter.com/NathanGDQuest"
icon = "twitter"
description = "GDQuest Twitter page"

[[params.social]]
link = "//github.com/GDQuest/"
icon = "github"
description = "GDQuest GitHub page"

[[params.social]]
link = "https://discord.gg/87NNb3Z"
icon = "discord"
description = "GDQuest community on Discord"

[related]
threshold = 80.0
includeNewer = true
toLower = false

[[related.indices]]
name = "keywords"
weight = 100.0

[[related.indices]]
name = "date"
weight = 10.0

[privacy]
[privacy.youtube]
disable = false
privacyEnhanced = true

[caches]
[caches.modules]
dir = ":cacheDir/modules"
maxAge = -1


[markup]
defaultMarkdownHandler = "goldmark"

[markup.goldmark]
[markup.goldmark.renderer]
unsafe = true

[module]

[[module.imports]]
path = "github.com/gohugoio/hugo-mod-jslibs/instantpage"

[languages]
[languages.en]
languageName = "English"
weight = 1
[[languages.en.menu.main]]
name        = "Tutorials"
url         = "/tutorial/"
weight      = 1
[[languages.en.menu.main]]
name        = "Tools"
url         = "/tools/"
weight      = 2
[[languages.en.menu.main]]
name        = "products"
url         = "/product/"
weight      = 3
[[languages.en.menu.main]]
name        = "About"
url         = "/about/"
weight      = 6

[languages.es]
languageName = "Español"
weight = 2
[[languages.es.menu.main]]
name        = "Tutoriales"
url         = "/tutorial/"
weight      = 1
[[languages.es.menu.main]]
name        = "Software"
url         = "/tools/"
weight      = 2
[[languages.es.menu.main]]
name        = "Productos"
url         = "/product/"
weight      = 3
[[languages.es.menu.main]]
name        = "Acerca"
url         = "/about/"
weight      = 6

[languages.fr]
languageName = "Français"
weight = 3
[[languages.fr.menu.main]]
name        = "Tutoriels"
url         = "/tutorial/"
weight      = 1
[[languages.fr.menu.main]]
name        = "Outils"
url         = "/tools/"
weight      = 2
[[languages.fr.menu.main]]
name        = "Produits"
url         = "/product/"
weight      = 3
[[languages.fr.menu.main]]
name        = "À propos"
url         = "/about/"
weight      = 6

[languages.ja]
languageName = "日本語"
weight = 4
[[languages.ja.menu.main]]
name        = "チュートリアル"
url         = "/tutorial/"
weight      = 1
[[languages.ja.menu.main]]
name        = "ツール"
url         = "/tools/"
weight      = 2
[[languages.ja.menu.main]]
name        = "プロダクト"
url         = "/product/"
weight      = 3
[[languages.ja.menu.main]]
name        = "会社情報"
url         = "/about/"
weight      = 6
