{{ with .Params.author }}
{{ with (index $.Site.Data.authors . ) }}
<section>
    <div class="card-box darkbg margin-none flex horizontal -profile">
        <div class="avatar" style="background-image: url({{ .picture | absURL }});"></div>

        <div class="padding-small content">
            <h3 class="margin-none" data-font="ultrabold capitalize">{{ .name }}</h3>

            {{ with .social }}
            <div class="social-links">
                {{ range . }}
                <a href="{{ .url }}" title="{{ .name }} page" class="icon" target="_blank" rel="noopener">
                    <i class="fab fa-{{ .icon }}"></i>
                </a>
                {{ end }}
            </div>
            {{ end }}

            {{ with .description }}
            <p>{{ . }}</p>
            {{ end }}

            <div class="buttons">
                <a href="/about/profiles/{{.user}}" class="button -flat">learn more</a>
            </div>
        </div>

    </div>
</section>
{{ end }}
{{ end }}
