<!-- Redirects to another page. Supports urls and references to other content pages -->
{{ if not (isset .Params "redirect") }}
{{ errorf "Missing redirect parameter in page %q" .Path }}
{{ end }}

{{ $reditect_url := "" }}
{{ if or (eq (first 2 .Params.redirect) "//") (eq (first 4 .Params.redirect) "http") }}
{{ $reditect_url = .Params.redirect }}
{{ else }}
{{ $reditect_url = (ref . .Params.redirect) }}
{{ end }}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}{{ if ne .Title "" }} &middot; {{ end }}{{ .Site.Title }}</title>
        <meta http-equiv="Refresh" content="0; url={{ $reditect_url }}" />
        {{ partialCached "favicon" . }}
        {{ $postCSS_options := (dict "targetPath" "style.css" "outputStyle" "compressed" )}}
        {{ $stylesheet := resources.Get "scss/gdquest.scss" | resources.ToCSS $postCSS_options | postCSS }}
        <link rel="stylesheet" href="{{ $stylesheet.Permalink }}">
    </head>
    <body style="height: 100vh">
        <main style="height: 100%; display: flex">
            <div class="content-container" style="margin: auto;">
                Redirecting to <a href="{{ $reditect_url }}">{{ $reditect_url }}</a>
            </div>
        </main>
    </body>
</html>
