{{ define "head_content" }}
<div class="blurred-fill"
     {{ with .Params.banner }}
     style="background-image: url({{ .src }})"
     {{ end }}></div>
<div class="grid center base-v-padding content">
    <div>
        <h1 class="no-margin">{{.Title}}</h1>
        {{ with .Params.author }}
            {{ with (index $.Site.Data.authors . ) }}
            <p>by: {{ .name }} </p>
            {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}


{{ define "main" }}
<section class="grid center container base-v-padding">
    <article>
        {{ with .Params.banner }}
        <img src="{{ .src }}" alt="{{ .alt }}">
        {{ end }}
        {{ .Content }}
    </article>
</section>

<section id="info" class="grid container center">
    {{ with .Params.author }}
        {{ with (index $.Site.Data.authors . ) }}
            {{ partial "modules/author" . }}
        {{ end }}
    {{ end }}
</section>
{{ end }}
