body {
    margin: 0 auto;
    max-width: 1200px;
    overflow-x: hidden;
    background-color: #272b30;
}
li {
    list-style: none;
}
.nav li {
  display: inline-block;
}
a {
    color: #ffa000;
}
:root {
    font-family: "Arial Rounded MT Bold", "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
p,
h1,
h2,
div{
  color: #fff;
}
