<div column=12>
  <div class="text--center">

    <h1>{{ .Title }} {{ if .IsPage }}{{ if .Draft }}<small>(draft)</small>{{ end }}{{ end }}</h1>

    <!-- Metas -->
    <div class="metas">
    {{ partial "modules/date" . }}
    {{ if .IsPage }}
      <small>{{ with .Params.author }}
        &middot; {{ $.Site.Data.Strings.byauthor }} {{ . }}
      {{ end }}
      &middot; {{ .Site.Data.Strings.metaReadin }} {{ .ReadingTime }} {{ .Site.Data.Strings.metaReadinMinutes }}
      &middot; ({{ .WordCount }} {{ .Site.Data.Strings.words }})
    </small>

    {{ end }}
    <div>{{ partial "modules/tags" . }}
    </div>
    <br>
    </div>

  </div>
</div>
