{{ $author := index .Site.Data.authors .Params.author }}

  <div class="card-box">
    <div class="card-image">
    {{ with $author.picture }}
      <img class="img-circle" src="{{ $author.picture | absURL }}" alt="{{ $author.name }}'s picture" />
    {{ else }}
      <img class="img-circle" src="img/avatar/dummy.png" alt="Author's picture" />
    {{ end }}
    </div>

    <p>
      {{ $author.name }}
      {{ if eq $author.name "Nathan Lovato" }}
          {{ range .Site.Params.social }}
          <a href="{{.link}}"><i class="fa fa-{{.icon}}"></i> <span class="hidden">Mentor social page</span> </a>
          {{ end }}
      {{ else }}
      <!-- TODO: simplify with RANGE -->
          {{ if isset $author "facebook" }} <a href="{{ $author.facebook }}"><i class="fa fa-facebook"></i></a> <span class="hidden">Mentor Facebook page</span> {{ end }}
          {{ if isset $author "twitter" }} <a href="{{ $author.twitter }}"> <i class="fa fa-twitter"></i></a> <span class="hidden">Mentor Twitter page</span> {{ end }}
          {{ if isset $author "googleplus" }} <a href="{{ $author.googleplus }}"> <i class="fa fa-google-plus-square"></i> </a> <span class="hidden">Mentor Google Plus page</span> {{ end }}
          {{ if isset $author "youtube" }} <a href="{{ $author.youtube }}"> <i class="fa fa-youtube-play"></i> </a> <span class="hidden">Mentor Youtube page</span> {{ end }}
      {{ end }}
          <br>
          {{ if isset $author "description" }} {{ $author.description }} {{ end }}
    </p>
  </div>
