{{ $author := index .Site.Data.authors .Params.author }}

  <div class="card clearfix">

    <div class="card-image">
    {{ if isset $author "picture" }}
      <img class="img-circle" src="{{ $author.picture | absURL }}" alt="{{ $author.name }}'s picture" />
    {{ else }}
      <img class="img-circle" src="img/avatar/dummy.png" alt="Author's picture" />
    {{ end }}
    </div>

    <div class="card-content">
    {{ $author.name }}
    {{ if eq $author.name "Nathan Lovato" }}
        {{ range .Site.Params.social }}
        <a href="{{.link}}"><i class="fa fa-{{.icon}}"></i></a>
        {{ end }}
    {{ else }}
        {{ if isset $author "facebook" }} <a href="{{ $author.facebook }}"><i class="fa fa-facebook"></i></a> {{ end }}
        {{ if isset $author "twitter" }} <a href="{{ $author.twitter }}"> <i class="fa fa-twitter"></i></a> {{ end }}
        {{ if isset $author "googleplus" }} <a href="{{ $author.googleplus }}"> <i class="fa fa-google-plus-square"></i> </a> {{ end }}
        {{ if isset $author "youtube" }} <a href="{{ $author.youtube }}"> <i class="fa fa-youtube-play"></i> </a> {{ end }}
    {{ end }}
        <p>
        {{ if isset $author "description" }} {{ $author.description }} {{ end }}
        </p>
    </div>
  </div>
