{{ define "head_content" }}
<div class="fill header-bg header-bg-section"></div>
<div class="grid split2 padding-v-small">
    <div>
        <h1 class="margin-none">{{.Title}}</h1>
        {{ with .Params.small }}
        <p>{{ . }}</p>
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "main" }}
<section class="grid split2 container padding-v-base list">
    {{ range .Pages }}

    {{ if (.Resources.Match "banner") }}
      <div>
        {{ .Render "summary" }}
      </div>
    {{ end }}
    {{ end }}
</section>
{{ end }}
