{{ define "header_content" }}
{{ partial "components/section-header" . }}
{{ end }}

{{ define "main" }}
<section class="content-container padding-v-base" data-is-tabs="true">
    <div id="godot4" data-tabtitle="Godot 4">
        <h2 class="product-section-title">Godot 4 Study Programs</h2>
        <div class="content-grid">
            {{ range sort .Pages ".Params.sort" }}
            {{ if and (not .Params.hidden) (eq .Params.godot_version 4) (.Params.is_bundle) }}
            <div class="item">
                {{ .Render "summary" }}
            </div>
            {{ end }}
            {{ end }}
        </div>
        <h2 class="product-section-title">Godot 4 Courses</h2>
        <div class="content-grid">
            {{ range sort .Pages ".Params.sort" }}
            {{ if and (not .Params.hidden) (eq .Params.godot_version 4) (not .Params.is_bundle) }}
            <div class="item">
                {{ .Render "summary" }}
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
    <div id="godot3" data-tabtitle="Godot 3">
        <h2 class="product-section-title">Godot 3 Courses</h2>
        <div class="content-grid" id="godot3">
            {{ range .Pages }}
            {{ if and (not .Params.hidden) (eq .Params.godot_version 3) }}
            <div class="item">
                {{ .Render "summary" }}
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ $js := resources.Get "js/tabs.js" }}
<script src="{{ $js.RelPermalink }}"></script>
{{ end }}

