{{ define "main" }}
{{ $product := index $.Site.Data.products .Params.product}}
<div class="container-small">
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <section>
    {{ with $product.banner }}
      {{ partial "block/banner_img" . }}
    {{ end }}

    <h1>{{ .Title }} {{ if .IsPage }}{{ if .Draft }}<small>(draft)</small>{{ end }}{{ end }}</h1>

    {{ range (index $product "intro") }}
    <p>{{ . | markdownify }}</p>
    {{ end }}

    <!-- Products - MOVE TO PARTIAL-->
    <div grid id="product" class="product card-box -center">
      {{ range (index $product "versions") }}
      <div column>
        <img src="{{ .icon.path }}" alt="{{ .icon.alt }}" class="lazy">

        <a href="{{ .link }}">
          <button class="-bordered -call-to-action {{ with .color }}{{ . }}{{ end }}">
            {{ .name }}
          </button>
        </a>
        
        {{ if isset . "icon"}}
          {{ $.Scratch.Set "list_icon" .list_icon }}
        {{ end }}
        {{ $list_icon := $.Scratch.Get "list_icon" }}

        {{ if isset . "features" }}
        <ul class="-unstyled">
          {{ range .features }}
          <li> 
            {{ if $list_icon }} <i class="fa fa-{{ $list_icon }}"></i> {{ end }}
            {{ . }}
          </li>
          {{ end }}
          {{ with .extra }} <li>{{ . }}</li> {{ end }}
        </ul>
        {{ end }}
      </div>
      {{ end }}
    </div>

    {{ .Content }}

    <!-- CHANGELOG - TO PARTIAL -->
    {{ with $product.changelog }}
    <div>
      <h2>Release notes</h2>
      {{ .description }}
      <details>
          <summary>Click here to see the release notes</summary>
          {{ range $product.changelog.markdown }}
            {{ . | markdownify }}
          {{ end }}
      </details>
    </div>
    {{ end }}

  </section>
  {{ if isset .Params "author" }} {{ partial "modules/author" . }} {{ end }}
</div>
{{ end }}
