{{ define "main" }}
{{ with (index $.Site.Data.products .Params.product) }}
  {{ $.Scratch.Set "product" . }}
{{ else }}
  {{ $.Scratch.Set "product" "" }}
{{ end }}

{{ $product := $.Scratch.Get "product" }}

<div class="container-small">
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <section>
    {{ with .Params.banner }}
      {{ partial "block/banner_img" . }}
    {{ end }}

    <h1>{{ .Title }} {{ if .IsPage }}{{ if .Draft }}<small>(draft)</small>{{ end }}{{ end }}</h1>

    {{ if isset $product "intro" }}
      {{ range $product.intro }}
      <p>{{ . | markdownify }}</p>
      {{ end }}
    {{ end }}

    <!-- Products - MOVE TO PARTIAL-->
    {{ if isset $product "versions" }}
    <div grid class="card-box -product -center">
        {{ range $product.versions }}
        <div column class="">
          <img src="{{ .icon.path }}" alt="{{ .icon.alt }}" class="lazy">

          <a href="{{ .link }}">
            <button class="-calltoaction {{ with .color }}{{ . }}{{ end }}">
              {{ .name }}
            </button>
          </a>
          
          {{ if isset . "icon"}}
            {{ $.Scratch.Set "list_icon" .list_icon }}
          {{ end }}
          {{ $list_icon := $.Scratch.Get "list_icon" }}

          {{ if isset . "features" }}
          <ul class="-unstyled">
            {{ range .features }}
            <li> 
              {{ if $list_icon }} <i class="fa fa-{{ $list_icon }}"></i> {{ end }}
              {{ . }}
            </li>
            {{ end }}
            {{ with .extra }} <li>{{ . }}</li> {{ end }}
          </ul>
          {{ end }}
        </div>
        {{ end }}
    </div>
    {{ end }}

    {{ .Content }}

    <!-- CHANGELOG - TO PARTIAL -->
    {{ if isset $product "changelog" }}
    <div>
      <h2>Release notes</h2>
      {{ $product.changelog.description }}
      <details>
          <summary>Click here to see the release notes</summary>
          {{ range $product.changelog.markdown }}
            {{ . | markdownify }}
          {{ end }}
      </details>
    </div>
    {{ end }}

  </section>
  {{ with (index $.Site.Data.authors .Params.author) }}{{ partial "modules/author" . }}{{ end }}
</div>
{{ end }}