// CSS resets
// TODO: move non-reset styles to components
html,
body,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: $font-base;
  font-size: $font-size-normal;
  background-color: $color-dark-base;

  height: 100%;
  overflow-x: hidden;
}

ul,
ol {
  list-style-position: inside;
  padding-left: $spacing-base;
}

li > ul {
  padding-left: $spacing-tiny;
}

ul li,
ol li {
  padding-top: $spacing-nano;
  padding-bottom: $spacing-nano;
}

nav ul {
  list-style: none;
}

// Titles
h1,
h2,
h3,
h4 {
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h1,
h2,
h3,
h4 {
  font-family: $font-title;
  text-transform: uppercase;
  color: $color-default-text-hl;
}

h4,
[data-font~="semibold"] {
  font-weight: 600;
}

h2,
h3,
[data-font~="bold"] {
  font-weight: 700;
}

h1,
[data-font~="ultrabold"] {
  font-weight: 800;
}

h4 {
  margin-top: $spacing-tiny;
  margin-bottom: $spacing-tiny;
}

h2,
h3 {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}

h1 {
  margin-top: $spacing-base;
  margin-bottom: $spacing-base;
}

[data-font*="uppercase"] {
  text-transform: uppercase;
}

[data-font*="capitalize"] {
  text-transform: capitalize;
}

[data-font*="centered"] {
  text-align: center;
}

[data-font*="left"] {
  text-align: left;
}

[data-font*="right"] {
  text-align: right;
}

[data-font*="small"] {
  font-size: $font-size-small;
}

[data-font*="dimmed"] {
  opacity: 0.7;
}

button,
input,
select,
textarea {
  margin: 0;
}

button {
  border: none;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

footer {
  text-align: center;
}

hr {
  border-color: $base-border-color;
}

p {
  line-height: 1.5;
}

// TODO: remove
header {
  .content {
    position: relative;
    z-index: 100;
  }

  .side-image {
    width: 100%;
    display: block;
  }
}

.darkbg {
  background-color: $color-dark-base;
  color: $color-dark-text;

  .title,
  h1,
  h2,
  h3,
  h4 {
    color: $color-dark-text-hl;
  }

  .icon {
    color: $color-dark-text;
  }
}

a {
  text-decoration: none;
  color: $color-link;

  transition: 0.2s ease-out;
}

a:hover {
  color: $color-link-hover;
}

article {
  margin: 0 auto;
}

article video,
article img,
article iframe {
  display: block;
  max-width: 100%;
  margin: auto;
}

article pre {
  background-color: rgba(0, 0, 0, 0.05);
  padding: $spacing-tiny;
}

article code {
  max-width: 100%;
  white-space: pre-wrap;
}

article > h1,
article > h2,
article > h3 {
  margin-top: $spacing-big;
}

article h2 + h3,
article h1 + h2 {
  margin-top: 0;
}

blockquote {
  margin: 0;
  border-left: 4px $color-accent-main-base solid;
  padding: 0 20px;
  font-style: italic;

  > footer {
    color: $color-default-text-hl;
  }
}

summary {
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

details {
  border: solid 1px darkgray;
  border-radius: $round-radius;
  padding: $spacing-tiny;
}

details[open] summary ~ * {
  animation: fade-in 0.5s ease-in-out;
}

figure {
  margin: 0;
}

figure > figcaption {
  padding: 0 20px;
  font-style: italic;
}

aside > p:first-child {
  margin-top: 0;
}

aside > p:last-child {
  margin-bottom: 0;
}

aside {
  margin: 16px 0;
}

.icon {
  font-size: $font-size-h5;
}

main {
  display: block; // needed for IE
  background-color: $color-default-base;
  color: $color-default-text;

  position: relative;
  padding-bottom: $spacing-base;

  z-index: 200;
}

.fill {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;

  @include bg-centered;
}

li.current {
  color: $color-gdquest-pink;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.5;
}

@include mobile {
  h1 {
    font-size: $font-size-h1 * 0.6;
  }

  h2 {
    font-size: $font-size-h2 * 0.8;
  }

  h3 {
    font-size: $font-size-h3 * 0.8;
  }
}
