{{ define "main" }}
<section grid>
  <article column="8 +2">
    {{ with .Params.nav }}
    <header> {{ partial "modules/post_nav" . }} </header>
    {{ end }}
    
    {{ if and (isset .Params "banner") (ne .Params.banner "") }}
      <a href="{{ .Permalink }}"><img src="/{{ .Params.banner }}" alt="{{ .Params.banner_alt }}" class="banner-img -blue" /></a>
    {{ end }}

    <h1>{{ .Title }}</h1>

    {{ .Content }}

    {{ if and (isset .Params "author") (ne .Params.author "") }} {{ partial "modules/author" . }} {{ end }}
  </article>
</section>
{{ end }}
