// Default styles and "resets" for the website
html,
body,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $font-base;
    font-size: $font-size-normal;
    background-color: $color-dark-base;

    overflow-x: hidden;
}


ul, ol {
    list-style-position: inside;
}

li>ul {
    padding-left: $spacing-tiny;
}

ul li,
ol li {
    padding-top: $spacing-micro;
    padding-bottom: $spacing-micro;
}

nav ul {
    list-style: none;
}

// Titles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
[data-font*="title"],
.button {
    font-family: $font-title;
    text-transform: uppercase;
    color: $color-default-text-hl;
}

h4,
h5,
h6,
[data-font~="semibold"] {
    font-weight: 600;
}

h2,
h3,
[data-font~="bold"],
.button {
    font-weight: 700;
}

h1,
[data-font~="ultrabold"] {
    font-weight: 800;
}

h4,
h5,
h6 {
    margin-top: $spacing-tiny;
    margin-bottom: $spacing-tiny;
}

h2,
h3 {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
}

h1 {
    margin-top: $spacing-base;
    margin-bottom: $spacing-base;
}

[data-font*="uppercase"] {
    text-transform: uppercase;
}

[data-font*="capitalize"] {
    text-transform: capitalize;
}

[data-font*="centered"] {
    text-align: center;
}

[data-font*="left"] {
    text-align: left;
}

[data-font*="right"] {
    text-align: right;
}

[data-font*="small"] {
    font-size: $font-size-small;
}

[data-font*="dimmed"] {
    opacity: .7;
}

button,
input,
select,
textarea {
    margin: 0;
}

img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}

footer {
    text-align: center;
}

hr {
    border-color: $base-border-color;
}

p {
    line-height: 1.5;
}

header {
    background-size: cover;
    background-position: center;
    position: relative;

    .content {
        position: relative;
        z-index: 100;
    }

    .side-image {
        width: 100%;
        display: block;
    }
}

.darkbg {
    background-color: $color-dark-base;
    color: $color-dark-text;

    .title,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color-dark-text-hl;
    }

    .icon {
        color: $color-dark-text;
    }
}

a,
.darkbg a,
.darkbg a .icon {
    text-decoration: none;
    color: $color-default-text-bright;

    transition: color .1s ease-in-out;
}

a:hover,
.pagination a:hover,
a.icon:hover,
a:hover .icon {
    color: $color-accent-main-base;
}

.icon {
    font-size: $font-size-h5;
}

// ID generated by Hugo, for the posts' table of contents
#TableOfContents {
    ul {
        list-style: disc;
    }

    &>ul {
        list-style: none;
    }
}

main {
    display: block; // needed for IE
    background-color: $color-default-base;
    color: $color-default-text;

    position: relative;
    padding-bottom: $spacing-huge;

    // prevent collapsing margin
    padding-top: 1px;
    margin-top: -1px;

    z-index: 200;
}

.fill {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 0;

    @include bg-centered;
}

li.current {
    color: $color-gdquest-pink;
}

.pagination {
    text-align: center;

    &>* {
        display: inline-block;
        margin: 0px $spacing-tiny;
    }

    a {
        color: $color-default-text;
    }

    .active a {
        color: $color-accent-main-base;
    }
}

.hidden {
    display: none;
}

.disabled {
    opacity: .5;
}

@include mobile {
    h1 {
        font-size: $font-size-h1 * .6;
    }

    h2 {
        font-size: $font-size-h2 * .8;
    }

    h3 {
        font-size: $font-size-h3 * .8;
    }
}
