.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@include mobile {
  .container {
    padding-left: $spacing-tiny;
    padding-right: $spacing-tiny;
  }
}

.padding-tiny {
  padding: $spacing-tiny;
}

.padding-small {
  padding: $spacing-small;
}

.padding-top-base {
  padding-top: $spacing-base;
}

.padding-top-big {
  padding-top: $spacing-big;
}

.margin-top-base {
  margin-top: $spacing-base;
}

.margin-top-big {
  margin-top: $spacing-big;
}

.margin-bottom-big {
  margin-bottom: $spacing-big;
}

// Generate classes for vertical padding and margin
@each $key in margin, padding {
  .#{$key}-v-small {
    #{$key}-top: $spacing-small;
    #{$key}-bottom: $spacing-small;
  }

  .#{$key}-v-base {
    #{$key}-top: $spacing-base;
    #{$key}-bottom: $spacing-base;
  }
}

.flex {
  display: flex;
}

.flex.align-items-center {
  align-items: center;
}

.flex.justify-space-between {
  justify-content: space-between;
}

.flex.justify-space-around {
  justify-content: space-around;
}

.flex.direction-col-reverse {
  flex-direction: column-reverse;
}

.flex-horizontal {
  display: flex;
  flex-direction: column;
}
