$round-radius: 8px;

$micro-spacing: 8px;
$tiny-spacing: 16px;
$small-spacing: 24px;
$base-spacing: 32px;  // this is also the gutter spacing
$big-spacing: 60px;
$huge-spacing: 100px;

$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$title-font: "Montserrat", sans-serif;

$font-size: 18px;

$font-size-small: 14px;
$font-size-normal: $font-size;
$font-size-big1: 21px;
$font-size-big2: 24px;
$font-size-big3: 28px;
$font-size-big4: 32px;
$font-size-big5: 54px;  /* reduce to 48? */

$base-text-shadow: 0 0 4px rgba(0, 0, 0, .5);
$base-border-color: rgba(0, 0, 0, .2);

$color-default-base: white;
$color-default-text: #6e6e6e;
$color-default-text-hl: #505050;
$color-default-text-bright: deepskyblue;

$color-dark-base: #272b30;
$color-dark-text: #cacaca;
$color-dark-text-hl: white;

$color-header-base: #0c4b89;
$color-header-start: #0179d1;
$color-header-end: #000046;

$color-accent-main-base: #26bfe3;
$color-accent-main-text: white;

$color-accent-opt-base: #ffd500;
$color-accent-opt-text: $color-dark-base;

$color-gdquest-green: #02e180;
$color-gdquest-yellow: #ffd500;
$color-gdquest-orange: #f2971a;
$color-gdquest-pink: #e3266f;


$bg-screen-size: 1200px;
$md-screen-size: 992px;
$sm-screen-size: 768px;


@mixin dark {
	background-color: $color-dark-base;
	color: $color-dark-text;
}

@mixin bg-centered {
	background-size: cover;
	background-position: center;
}

@mixin tablet {
	@media screen and (max-width: $bg-screen-size + $small-spacing * 2) {
		@content;
	}
}
@mixin mobile {
	@media screen and (max-width: $sm-screen-size) {
		@content;
	}
}
@mixin desktop {
	@media screen and (min-width: $bg-screen-size + $small-spacing * 2) {
		@content;
	}
}
