$round-radius: 8px;

$spacing-micro: 8px;
$spacing-tiny: 16px;
$spacing-small: 24px;
$spacing-base: 32px; // this is also the gutter spacing
$spacing-big: 60px;
$spacing-huge: 100px;

// FONTS
$font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-title: "Montserrat", sans-serif;

$font-size-small: 0.8em;
$font-size-normal: 1em;
$font-size-h5: 1.2em;
$font-size-h4: 1.4em;
$font-size-h3: 1.7em;
$font-size-h2: 2.2em;
$font-size-h1: 3em;

// COLORS
$color-default-base: white;
$color-default-text: #6e6e6e;
$color-default-text-hl: #505050;
$color-default-text-bright: deepskyblue;

$color-dark-base: #272b30;
$color-dark-text: #cacaca;
$color-dark-text-hl: white;

$color-accent-main-base: #26bfe3;
$color-accent-main-text: white;

$color-accent-opt-base: #ffd500;
$color-accent-opt-text: $color-dark-base;

$color-gdquest-green: #02e180;
$color-gdquest-yellow: #ffd500;
$color-gdquest-orange: #f2971a;
$color-gdquest-pink: #e3266f;

$base-border-color: rgba(0, 0, 0, 0.2);
$base-hover-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.1);

$screen-size-min-desktop: 1200px;
$screen-size-min-tablet: 760px;

@mixin bg-centered {
  background-size: cover;
  background-position: center;
}

@mixin tablet {
  @media screen and (max-width: $screen-size-min-desktop) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $screen-size-min-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $screen-size-min-desktop) {
    @content;
  }
}
