// Styles for buttons, that we mostly use on links.
.button-link {
  display: inline-block;
  border-radius: 8px;
  padding: $spacing-micro $spacing-small;

  line-height: normal;
  font-size: $font-size-small;
  font-weight: 700;
  font-family: $font-title;
  text-transform: uppercase;
  text-align: center;

  color: $color-accent-main-text;
  background-color: $color-button-background;
  // For <input> tags with the class button
  border: none;

  &:hover {
    background-color: $color-button-background-hover;
    color: $color-accent-main-text;
  }

  &.-shadow {
    box-shadow: $shadow-tiny;
  }

  &.-yellow {
    background-color: $color-gdquest-yellow;
    color: $color-dark-base;

    &:hover {
      background-color: $color-gdquest-yellow-hover;
    }
  }

  &.-shop {
    color: $color-accent-main-text;
    background: transparent;
    border: 2px solid white;

    &:hover {
      color: $color-dark-base;
      background-color: white;
    }
  }

  &.-flat {
    background: none;
    color: $color-link;
    box-shadow: none;
  }

  &.-large {
    font-size: large;
  }

  &.-tall {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &.-center {
    display: block;
    margin: auto;
    max-width: max-content;
  }

  &.-textlight {
    color: $color-accent-main-text;
  }

  &.-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &.-navtutorial {
    height: 48px;
    z-index: 100;
  }

  &.-fullwidth {
    width: 100%;
    border-radius: 0;

    &:hover {
      transform: none;
      box-shadow: none;
      color: $color-accent-main-text;
      background-color: $color-link-hover;
    }
  }

  &.-mobileonly {
    display: none;
  }

  @include tablet {
    &.-mobileonly {
      display: inline-block;
    }
  }
}


.seeMoreLink{
  text-decoration: underline;
  font-family: $font-title;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-flex;
  align-items: center;

  &::after{
    content: "";
    --un-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-inline-start: 0.2em;
  }
}

.darkbg .seeMoreLink{
  color: white;
}