// Styles for the cards we use all around the website, for authors at the end of articles, etc.
@mixin card-middle {
  border-top: none;
  border-radius: 0;
}

.card-image {
  width: 100%;
  object-fit: cover;
  height: 290px;
  position: relative;
  z-index: 1;

  @include tablet {
    height: 100%;
  }

  &.-small {
    height: 190px;
  }

  &.-contain {
    object-fit: contain;
  }
}

.card-box {
  overflow: auto;
  border-radius: $round-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  height: 100%;
  border: 1px solid $base-border-color;
  background-color: $color-default-base;
  color: $color-default-text;

  overflow: hidden;
  @include bg-centered;

  @include tablet {
    max-width: 800px;
  }

  &.-dark {
    background-color: $color-dark-base;
    color: $color-dark-text;
  }

  &.-dark > .content > .title {
    color: $color-dark-text-hl;
  }

  &.-dark .social-links > a {
    color: $color-dark-text;

    &:hover {
      color: $color-link-hover;
    }
  }

  > .content {
    padding: $spacing-tiny;
    z-index: 2;
    position: relative;
    overflow: auto;

    > .title {
      margin: 0;
      font-weight: 800;
    }
  }

  > .content.-darkbg {
    background-color: $color-dark-base;
  }

  &.-profile > .content {
    flex: 2;
  }

  > .avatar {
    background-position: center;
    background-size: cover;
    flex: 0.7;
  }

  .buttons {
    text-align: right;
    margin-top: $spacing-base;

    &.-center {
      text-align: center;
    }
  }

  &.-tophalf {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.-bottomhalf {
    height: max-content;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.-middle {
    @include card-middle;
  }
}

// pseudo card mode for the course chapters section
@include tablet {
  aside.chapters {
    @include card-middle;
    padding-left: $spacing-tiny;
    padding-right: $spacing-tiny;
  }
}
