.collapsible{
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 1s ease-out;
    &-content{
        min-height: 0;
        overflow: hidden;
    }
    &[aria-hidden="true"]{
        grid-template-rows: 0fr;
    }
    &.large-margin{
        margin-block-end: 10rem;
    }
}

button[aria-expanded][aria-controls].isJSProcessed{
    cursor: pointer;
    &::after{
        --un-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z'%3E%3C/path%3E%3C/svg%3E");
        display: inline-block;
        content: "";-webkit-mask: var(--un-icon) no-repeat;
        mask: var(--un-icon) no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        background-color: currentColor;
        color: inherit;
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        top: 0.15em;
        transition: transform 0.3s ease-out;
    }
    &[aria-expanded="true"]::after{
        transform: rotate(90deg);
    }
}