// Styles for individual comments.
// Welcomments uses the BEM naming scheme. Its JS script inserts comments with the following name.
.welcomments__comment {
  margin-bottom: $spacing-small;

  @for $i from 1 through 5 {
    &.welcomments__nesting-level-#{$i} {
        margin-left: $spacing-tiny * $i;
        padding-left: $spacing-small;
        border-left: 2px solid transparentize($color-default-text, 0.5) ;
    }
  }

  .-level1 {
    padding-left: $spacing-small;
  }

  .-owner {
  }
}

.comment-header {
  display: flex;

  > .avatar {
    margin-right: $spacing-tiny;

    > img {
      border-radius: 100%;
    }
  }

  > .author {
    align-self: center;
    > h4 {
      font-size: $font-size-normal;
      margin: 0;
    }
    > p {
      font-size: $font-size-small;
      margin: 0;
    }
  }
}
