// Styles for the Welcomments comment form.
.comment-container {
  display: block;
  width: 100%;
  max-width: 480px;
  margin-top: $spacing-small;
}

.comment-form {
    display: block;
    width: inherit;
}

.form-group {
  > .label {
    display: block;
    font-size: $font-size-small;
    font-weight: 700;
    margin-bottom: .25rem;
  }

  > .input {
    padding: $spacing-micro;
    border-radius: $round-radius;
    border: 1px solid $color-default-text;

    &.-text {
      width: 100%;
      padding: $spacing-tiny;
    }
  }

  .optional {
    font-size: $font-size-small;
    color: $color-default-text;
  }
}

.text-notice {
  font-size: $font-size-small;
  font-style: italic;
}

.form-row {
  display: flex;
  width: 100%;
  margin-top: $spacing-tiny;
  margin-bottom: $spacing-tiny;
  justify-content: space-between;

  align-items: center;
}
