// Fields for <form> tags. Used in the mailing-signup partial
.form-field {
  margin-top: $spacing-micro;
  margin-bottom: $spacing-micro;

  > .label {
    font-weight: 500;
  }

  > .field {
    margin-left: $spacing-micro;
  }

  > input {
    padding: $spacing-micro;
    border-radius: $round-radius;
    border: 1px solid $base-border-color;
  }

  > label {
    margin-right: $spacing-micro;
  }
}
