// Homepage header
$color-purple: #7e3ab791;

.header-home {
  display: block;
  padding-bottom: 2rem;
  background-color: transparent;
}

.header-title {
  text-shadow: $shadow-large;
  display: flex;

  > .image {
    background-image: url(/img/sprites-bears.png);
    background-repeat: no-repeat;
    display: block;
    max-width: 180px;
    z-index: -1;
  }

  a {
    color: $color-accent-main-text;
  }

  .-bear-1 {
    width: 157px;
    height: 195px;
    background-position: -3px -3px;
  }

  .-bear-2 {
    position: relative;
    top: 0.8rem;
    width: 128px;
    height: 169px;
    background-position: -166px -3px;
  }

  > .title {
    max-width: 30rem;
    margin: auto;

    > .subtitle {
      color: white;
      text-shadow: $shadow-small;
      font-size: large;
    }

    > a {
      text-shadow: none;
      box-shadow: $shadow-small;
      font-size: large;
    }
  }

}

@include mobile {
  .header-title {
    > .image {
      display: none;
    }

    > .title {
      max-width: 100%;
    }
  }
}
