// Background image for headers
// Colors to draw a fallback gradient until the header background image loads
$color-gradient-start: #ba37fe;
$color-gradient-end: #6423d3;

.header-background {
  position: fixed;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;

  z-index: -1;
  background-image: url(/img/header-home-background.svg),
    linear-gradient(to left, $color-gradient-start, $color-gradient-end);
}
