// Banner with countdown for Kickstarter campaigns.
.banner-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;

  color: white;
  background: #032769;

  > .character {
    max-height: 160px;
    align-self: flex-end;
  }
}

.kickstarter-banner {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 0.8rem;
  text-align: center;

  > .title {
    color: white;
    margin-top: 0;
    font-weight: 1000;
    margin-bottom: 1rem;
  }
  .subtitle {
    color: #f2f2f2;
    font-size: 1.9rem;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .countdown {
    color: #78d7ff;
    font-size: 1.9rem;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  > a {
    margin-top: 1rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.kickstarter-logo {
  max-height: 1.5rem;
}

@include tablet {

  .kickstarter-banner {
    > .title {
      font-size: 1.8rem;
    }
    .subtitle {
      font-size: 1.5rem;
    }
    .countdown {
      font-size: 1.5rem;
    }
  }
  .kickstarter-logo {
    max-height: 1.1rem;
  }
}

@include mobile {
  .kickstarter-banner {
    padding-left: 0;
    padding-right: 0;
    > .title {
      font-size: 1.5rem;
    }
    .subtitle {
      font-size: 1rem;
    }
    .countdown {
      font-size: 1rem;
    }
  }
  .kickstarter-logo {
    max-height: 1.1rem;
  }
  
  .banner-container {
    > .character {
      max-height: 120px;
    }
  }
}