.language-dropdown {
    position: relative;
    display: inline-block;
    width: 2.6rem;
    text-align: center;

    border: 1px solid white;
    color: #fff;

    border-radius: $round-radius;
    padding: $spacing-micro;

    &:hover {
        cursor: pointer;
        > .list > li,
        > .list:focus-within > li,
        > .list:hover {
            display: block;
        }
    }

    > .list {
        position: absolute;

        > li {
            padding: 0;
            margin-top: $spacing-tiny;
            margin-bottom: $spacing-tiny;
            display: none;

            &:last-of-type {
                margin-bottom: 0;
            }

            > a {
                color: white;
                width: 100%;
                // Make links easier to target with mouse/touch.
                padding: 10px 0;
            }
            > a:hover {
                color: $color-gdquest-yellow;
            }
        }
    }
}

@include tablet {
    .language-dropdown {
        margin: 10px 0;

        // Display on mobile is toggled using the navbar (see `nav-main.scss`).
        display: none;

        &:hover {
            > .list > li,
            > .list:focus-within > li,
            > .list:hover {
                display: unset;
            }
        }

        span {
            // Highlight the currently active language.
            color: $color-gdquest-yellow;
        }

        > .list {
            position: unset;
            display: inline;
            width: 100%;

        }

        > .list li a {
            // Make links easier to target with mouse/touch.
            padding: 10px;
        }
    }
}
