// Popup used for modal email signup
.modal-popup {
  display: flex;
  z-index: 100;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &.-hidden {
    display: none;
  }

  > .content {
    position: relative;
    margin: auto;
    min-width: 640px;
    border-radius: $round-radius;
    background: $color-default-base;
    box-shadow: $shadow-large;

    animation-name: scroll-down;
    animation-duration: 0.5s;
  }

  > .content > .header {
    padding: $spacing-small;
    border-top-left-radius: $round-radius;
    border-top-right-radius: $round-radius;
    min-height: 60px;

    color: $color-default-base;

    background: #a73ff2;
  }

  > .content > .body {
    padding: $spacing-small;
  }

  .close {
    position: absolute;
    right: 1rem;
    top: .5rem;
    color: $color-default-base;
    font-size: $font-size-h2;
    font-weight: 800;

    &:hover,
    &:focus {
      color: $color-gdquest-yellow;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
