// Main navigation at the top of every page, except in the docs section
.nav-main {
  display: flex;
  margin: auto;
  align-items: center;
  max-width: $screen-size-min-desktop;
  height: $spacing-huge;

  font-family: $font-title;
  text-transform: uppercase;
  color: $color-default-text-hl;
  text-shadow: $shadow-tiny;

  > .logo {
    margin-right: $spacing-base;
    filter: drop-shadow($shadow-tiny);

    > * {
      max-height: 2.8rem;
    }
  }

  > .menu {
    display: none;
    margin: $spacing-tiny;
    color: white;
  }

  > .links {
    display: inline-block;
    margin-left: $spacing-tiny;

    font-size: $font-size-normal;
    font-weight: bold;

    user-select: none;

    > a {
      margin-left: $spacing-tiny;
    }

    > a:first-of-type {
      margin-left: 0;
    }

    &.-social {
      margin-left: auto;
      margin-right: $spacing-tiny;

      filter: drop-shadow($shadow-tiny);
    }

    &.-shop {
      text-shadow: none;
      box-shadow: $shadow-tiny;
    }

    > * {
      display: inline-block;
    }

    a {
      color: $color-dark-text-hl;

      &:hover {
        color: $color-accent-opt-base;
      }
    }
  }
}

@include tablet {
  .nav-main {
    margin-left: $spacing-base;
    margin-right: $spacing-base;
    justify-content: space-between;

    > .menu {
      display: block;
      position: absolute;
      top: 0.8rem;
      right: 1.2rem;
    }

    > .links {
      display: none;
    }

    &.-open {
      flex-direction: column;
      height: auto;

      margin: $spacing-base;
      margin-bottom: 3rem;
      font-size: 1.2em;

      > .logo {
        display: none;
      }

      > .links {
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
        margin-top: 0.6rem;
      }

      > .links > a {
        margin-left: 0;
      }

      > .links:first-of-type {
        margin-top: $spacing-base;
      }

      > .links.-social {
        flex-direction: row;
      }

      > .links.-social > a {
        margin-left: $spacing-tiny;
      }

      > .links.-social > a:first-child {
        margin: unset;
      }

      > .language-dropdown {
        display: inline-block;
        width: 100%;

        > .list > li {
          display: inline;
        }
      }
    }
  }
}
