// Main navigation at the top of every page, except in the docs section
.nav-main {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  max-width: $screen-size-min-desktop;
  height: $spacing-huge;

  font-family: $font-title;
  text-transform: uppercase;
  color: $color-default-text-hl;
  text-shadow: $shadow-tiny;

  > .logo {
    margin-right: $spacing-base;
    filter: drop-shadow($shadow-tiny);

    > * {
      max-height: 2.8rem;
    }
  }

  > .menu {
    display: none;
    margin: $spacing-tiny 0 $spacing-tiny $spacing-tiny;
    color: white;
  }

  > .links {
    margin-left: $spacing-tiny;

    font-size: $font-size-normal;
    font-weight: bold;

    user-select: none;

    > .new {
      position: relative;
    }

    .new .new-text {
      position: absolute;
      transform: translateY(-1rem);
      color: $color-accent-opt-base;
      font-size: 0.9rem;
      inset: 0 auto 0 auto;
    }

    > a {
      margin-left: $spacing-tiny;
    }

    > a:first-of-type {
      margin-left: 0;
    }

    &.-shop {
      text-shadow: none;
      box-shadow: $shadow-tiny;
    }

    > * {
      display: inline-block;
    }

    a {
      color: $color-dark-text-hl;

      &:hover {
        color: $color-accent-opt-base;
      }
    }
  }
  .links.-social, .-login {
    margin-left: 1rem;
    margin-right: $spacing-tiny;

    filter: drop-shadow($shadow-tiny);
  }
  .mainNavItems{
    margin-inline-end: auto;
  }
}

@include tablet {
  .nav-main {
    margin-left: $spacing-base;
    margin-right: $spacing-base;
    justify-content: space-between;

    > .menu {
      display: block;
      position: absolute;
      top: 0.8rem;
      right: 0;
    }

    > .links {
      display: none;
    }

    &.-open {
      flex-direction: column;
      height: auto;

      margin: $spacing-base;
      margin-bottom: 3rem;
      font-size: 1.2em;

      gap: 2rem;

      > .logo {
        display: none;
      }

      > .links {
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
        margin-top: 0.6rem;
        gap: 1.5rem;
        > .new {
          margin-top: $spacing-nano;
        }
      }

      > .links > a {
        margin-left: 0;
      }

      > .links:first-of-type {
        margin-top: $spacing-base;
      }

      > .links.-social {
        flex-direction: row;
        gap: $spacing-tiny;
      }

      > .links.-social > a {
        margin-left: $spacing-tiny;
      }

      > .links.-social > a:first-child {
        margin: unset;
      }

      > .language-dropdown {
        display: inline-block;
        width: 100%;

        > .list > li {
          display: inline;
        }
      }
    }
  }
}
