.search-bar {
  display: flex;

  > .input {
    padding: $spacing-micro;
    border: 2px solid $color-accent-main-text;
    border-radius: $round-radius;
    outline: none;
    color: $color-accent-main-text;
    background: transparent;
    filter: drop-shadow($shadow-tiny);

    &::placeholder {
      color: transparentize($color-accent-main-text, 0.3) ;
    }

    &.-blue {
      border-color: $color-link;
      color: $color-default-text;
      filter: none;

      &::placeholder {
        color: transparentize($color-default-text, 0.3);
      }
    }

    &.-withbutton {
      border-right: none;
      border-radius: $round-radius 0 0 $round-radius;
    }

    &.-fullwidth {
      width: 100%;
    }

    &.-center {
      display: block;
      margin: auto;
    }
  }

  > .icon {
    width: 42px;
    height: 40px;
    border: 2px solid $color-accent-main-text;
    background: $color-accent-main-text;
    text-align: center;
    color: $color-gdquest-purple;
    border-radius: 0 $round-radius $round-radius 0;
    cursor: pointer;

    transition: 200ms all;

    &:hover {
      background: transparent;
      color: $color-accent-main-text;
      border-color: $color-accent-main-text;
    }

    &:focus {
      outline: none;
      border-color: $color-link-hover;
    }
  }
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button { display: none; }
