
.social-item {
    margin: 0;
    font-size: large;

    &.-gdschool {
        margin-top: -9px;
        margin-bottom: auto;
        max-width: 370px;
        a{
            display: inline-block;
            width: 100%;
        }
        img{
            width:100%;
            max-width: 220px;
        }
    }

    .image {
        filter: drop-shadow($shadow-small);
    }

    .text {
        margin-top: 0.4rem;
    }

    .-youtube {
        max-width: 200px;
    }

    .-godot {
        max-width: 200px;
    }
}

@include tablet
{
    .social-item {
        margin-block: 3rem;
        &:first-child {
            margin-block-start: $spacing-small;
        }
        &:last-child {
            margin-block-end: $spacing-small;
        }
    }
}
