.tutorial-title {
    > * {
        margin: 0;
    }

    > .title {
        text-shadow: $shadow-small;
    }

    > .subtitle {
        margin-top: 4px;
        color: $color-white-transparent;
        text-shadow: $shadow-small;
    }
}
