.tutorial-title {
    > * {
        margin: 0;
    }

    > .title {
        text-shadow: $shadow-small;
    }

    > .subtitle {
        margin-top: $spacing-micro;
        color: $color-white-transparent;
        text-shadow: $shadow-small;
        margin-bottom: $spacing-tiny;
    }
}
