{{ define "main" }}
<section class="content-container padding-v-base">
    <div style="max-width: 700px; margin: auto;">
        <form action="{{ "search" | absURL }}" class="search-bar">
            <input id="search-query" placeholder="Search here" class="input -fullwidth -blue" name="s" autocomplete="off" />
        </form>
        <div id="search-results-container">
            <h3>Search results</h3>
            <div id="search-results"></div>
            <div id="no-result" style="display:none">
                <p></p>
            </div>
        </div>
    </div>
</section>

<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
 <div id="summary-${key}">
 <h4><a href="${link}">${title}</a></h4>
${ isset category }<span class="tag-pill">${category}</span>${ end }
<span class="tag-pill ${pillClass}">${type}</span>
${ isset difficulty }<span class="tag-pill -green">${difficulty}</span>${ end }
 <p>${snippet}</p>
 </div>
</script>

{{ $mark := resources.Get "js/mark.min.js" }}
{{ $fuse := resources.Get "js/fuse.min.js" }}
{{ $searchEngine := resources.Get "js/search-engine.js" }}
{{ $js := slice $mark $fuse $searchEngine | resources.Concat "js/search.js" }}
<script src="{{ $js.RelPermalink }}"></script>
<script type="text/javascript">
 window.addEventListener("DOMContentLoaded", (event) => {
     var search = new SearchEngine({
         searchInput: document.querySelector('#search-query'),
         resultsField: document.querySelector('#search-results'),
         resultsTemplate: document.querySelector('#search-result-template'),
         url: '/search.json',
     })
 });
</script>
{{ end }}
