{{ define "header_content" }}
    {{ partial "components/section-header" . }}
{{ end }}

{{ define "main" }}
<section class="container padding-v-base">
    <article>
        {{ partial "components/banner-image" . }}
        {{ .Content }}

        {{ if and .Paginator.Pages (or (and (isset .Params "paginate") .Params.paginate) (not (isset .Params "paginate"))) }}
        <section class="grid split2 container list">
            {{ range .Paginator.Pages }}
            <div>{{ .Render "summary" }} </div>
            {{ end }}
        </section>
         <div class="container">{{ partial "page-list" . }}</div>
        {{ end }}
    </article>
</section>
{{ end }}
