{{ define "head_content" }}
<div class="fill header-bg header-bg-section"></div>
<div class="grid split2 padding-v-small">
    <div>
        <h1 class="margin-none">{{.Title}}</h1>
        {{ with .Params.small }}
        <p>{{ . }}</p>
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "main" }}
<section class="container padding-v-base">
    {{ .Content }}
</section>
{{ if and .Paginator.Pages (or (and (isset .Params "paginate") .Params.paginate) (not (isset .Params "paginate"))) }}
<section class="grid split2 container padding-v-base list">
    {{ range .Paginator.Pages }}
    <div>
        {{ .Render "summary" }}
    </div>
    {{ end }}
</section>
<div class="container">
    {{ partial "paginator" . }}
</div>
{{ end }}
{{ end }}
