{{ define "main" }}
<div class="container-small">
  <section grid>
    <article column>
      <header>
        {{ with .Params.banner }}
          {{ partial "block/banner_img" . }}
        {{ end }}
        {{ if isset .Params "nav" }}
          {{ partial "modules/post_nav" . }}
        {{ end }}
      </header>
  
      <h1>{{ .Title }}</h1>
  
      {{ .Content }}
  
    {{ if isset .Params "social" }} {{ partial "modules/social_networks/follow" . }} {{ end }}
    <!--{{ partial "modules/social_networks/social_share" }}-->
    </article>

  </section>
  {{ with .Params.author }} 
    {{ with (index $.Site.Data.authors . ) }}{{ partial "modules/author" . }}{{ end }}
  {{ end }}

  {{ template "_internal/disqus.html" . }}
</div>
{{ end }}
