<article>
  {{ if and (isset .Params "banner") (ne .Params.banner "") }}
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
       data-src="{{ .Params.banner }}"
       alt="{{ .Params.banner_alt }}"
       class="lazy banner-img {{ with .Params.banner_color }}{{ . }}{{ else }}-blue{{ end }}" />
  {{ end }}

  <div class="card-box">
    <h3> <a href="{{ .Permalink }}">{{ if .IsPage }}{{ if .Draft }}Draft: {{ end }}{{ end }}{{ .Title }}</a> </h3>

    {{ if and .IsPage }} {{ if .Description }}
    <p> {{ .Description }} </p>
    {{ end }} {{ end }}

    <p class="-muted"> {{ .Date.Format "Jan 2006" }} / {{ range .Params.category }} {{ . }} {{ end }} / {{ .WordCount }} words </p>
  </div>
</article>
