<article>
  <div class="card-box">
    {{ with .Params.banner }}
      {{ $extension := ".jpg" }}
      {{ $root_path := index (split .src ".") 0 }}
      <img src="{{ .src }}" alt="{{ .alt }}" />
    {{ end }}
    <div class="content">
      <h3> <a href="{{ .Permalink }}">{{ .Title }}</a> </h3>
  
      <p> {{ .Description }} </p>
      
      <p class="-muted"> {{ .Date.Format "Jan 2006" }} / {{ range .Params.category }} {{ . }} {{ end }} / {{ .WordCount }} words </p>
    </div>
  </div>
</article>
