//
// global variables
// =============================================================================

//
// base
// ----

// non-responsive website
$non-responsive: false !default;

// transition duration
$transition-duration: 200ms !default;

// breakpoints
$bp-extra-small: 30em !default;
$bp-small:       48em !default;
$bp-medium:      60em !default;
$bp-large:       70em !default;
$bp-extra-large: 80em !default;

// spacing
$spacing-xs: unitsize(1) !default;
$spacing-s:  unitsize(2) !default;
$spacing-m:  unitsize(3) !default;
$spacing-l:  unitsize(4) !default;
$spacing-xl: unitsize(5) !default;

$nav-height: 3.4em !default;

//
// font
// -------------
$font-family:          'Arial Rounded MT Bold','Trebuchet MS',Arial,sans-serif;
$font-family-headings: Calibri,Helvetica,Arial,sans-serif;
$font-family-mono:     Consolas, monospace !default;
$font-base-size:       16 !default;

//
// color palette
// -------------
//
// colors
$colors: (
  base: (
    "primary":   #ffa000,
    "selection": #d6d6d6,
    "lines":     #e0e0e0
  ),

  text: (
    "primary":   #fff,
    "secondary": #999,
    "heading":   #fff,
    "ui":        white
  ),

  background: (
    "dark":  #282e31,
    "light": #1f2328,
    "body":  #272b30
  ),

  state: (
    "muted":   #444444,
    "primary": #ffa000,
    "success": #48c141,
    "warning": #f97e19,
    "error":   #d22e2e
  ),

  blue: (
  "darker":  #495b61,
  "dark":    #447281,
  "base":    #1cb4ec,
  "light":   #5ab0cc,
  "lighter": #74cbe8
  ),

  green: (
  "darker":  #3b6e6e,
  "dark":    #3b8686,
  "base":    #37a1a1,
  "light":   #2dbaba,
  "lighter": #69d1d1
  ),

  cream: (
  "darker":  #c47858,
  "dark":    #e29372,
  "base":    #ecac91,
  "light":   #f9c2ab,
  "lighter": #fdd5c3
  ),

  red: (
  "darker":  #653131,
  "dark":    #b73333,
  "base":    #da3c3c,
  "light":   #f25a5a,
  "lighter": #fa8181
  ),

  gray: (
  "darker":  #333333,
  "dark":    #4d4d4d,
  "base":    #666666,
  "light":   #808080,
  "lighter": #999999
  )
)!default;
