{{ define "header_content" }}
<div class="header-background"></div>
<div class="header-article">
    <h1 class="title">{{.Title}}</h1>
    {{ with .Params.author }}
    {{ with (index $.Site.Data.authors . ) }}
    <p class="subtitle">by: {{ .name }} </p>
    {{ end }}
    {{ end }}
</div>
</div>
{{ end }}


{{ define "main" }}
<section class="grid center container padding-v-base">
    <article>
        {{ with (.Resources.GetMatch "banner") }}
        {{ if isset .Params "alt" }}
        <img src="{{ .Permalink }}" alt="{{ .Params.Alt }}">
        {{ else }}
        <img src="{{ .Permalink }}" alt="{{ .Name }}">
        {{ end }}
        {{ end }}

        {{ partial "table-of-contents" . }}
        {{ .Content }}
        {{ partial "modules/author" . }}
        {{ partial "improve-this-page.html" . }}
    </article>
</section>

{{ end }}
