.banner-img
    box-sizing: border-box
    border: $bannerBorderSize solid
    border-top: none
    border-bottom: none
    @each $name, $color in $colors
        @if $name == "gdquest"
            @each $type, $value in $color
                &.-#{$type}
                    border-color: $value