nav
  border-bottom: 2px solid getColor(background, dark)
  ul
    margin-top: 0
    list-style: none
    text-align: center
  li
    @media (--extra-small)
      border-bottom: 1px solid getColor(background, dark)
      &:last-child
        border-bottom: none
    a
      display: block
      height: $nav-height
      line-height: $nav-height * 0.6
      padding: $nav-height * 0.2 18px
    a:hover
      color: white
      background-color: getColor(background, dark)
  .active
    color: white
    background-color: getColor(background, dark)
    cursor: default

.logo
    img
      max-height: $nav-height
      padding: 0.6lh

// Horizontal on desktop
@media (--small)
  nav ul
    display: flex
    justify-content: flex-end

label
  display: block
  position: absolute
  right: 0
  height: $nav-height
  padding: $nav-height * 0.2 18px
  cursor: pointer

#nav-button
  display: none

.nav-button
  line-height: $nav-height * 0.6
  @media (--small)
    display: none

#menu
  @media (--extra-small)
    max-height: 0
    overflow: hidden

#nav-button:checked ~ #menu
  max-height: 500px
