{{ if gt $.Paginator.TotalPages 1 }}
<nav>
  <ul class="pagination">
    {{ $baseurl := .Site.BaseURL }}
    {{ $p := .Paginator }}
    {{ if gt $p.TotalPages 1 }}
    <li {{ if not $p.HasPrev }} class="disabled" {{ end }}>
      <a aria-label="First" href="{{ $baseurl }}{{ $p.First.URL }}">
        <span aria-hidden="true">&laquo;&laquo;</span>
      </a>
    </li>

    <li {{ if not $p.HasPrev }} class="disabled" {{ end }}>
      <a aria-label="Previous" href="{{ if $p.HasPrev }}{{ $baseurl }}{{ $p.Prev.URL }}{{ else }}#{{ end }}">
        <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {{ range $p.Pagers }}
    <li {{ if eq . $p }} class="active" {{ end }}>
      <a href="{{ $baseurl }}{{ .URL }}">
        {{ .PageNumber }}
        </a>
    </li>
    {{ end }}

    <li {{ if not $p.HasNext }} class="disabled" {{ end }}>
      <a aria-label="Next" href="{{ if $p.HasNext }}{{ $baseurl }}{{ $p.Next.URL }}{{ else }}#{{ end }}">
        <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    <li {{ if not $p.HasNext }} class="disabled" {{ end }}>
      <a aria-label="Last" href="{{ $baseurl }}{{ $p.Last.URL }}">
        <span aria-hidden="true">&raquo;&raquo;</span>
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
