@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


body {
  margin: 0;
  font-family: $base-font;
  font-size: $font-size-normal;
  background-color: get-color(dark, base);

  overflow-x: hidden;
}


header {
  background-size: cover;
  background-position: center;
  position: relative;
}
header .content {
	position: relative;
	z-index: 100;
}
header h1 {
	text-shadow: $base-text-shadow;
}
header .side-image {
	width: 100%;
	display: block;
}


h1 { font-size: $font-size-big5; }
h2 { font-size: $font-size-big4; }
h3 { font-size: $font-size-big3; }
h4 { font-size: $font-size-big2; }
h5 { font-size: $font-size-big1; }
h6 { font-size: $font-size-normal; }

@include mobile {
	h1 { font-size: $font-size-big5; }
}

h1, h2, h3, h4, h5, h6, [data-font*="title"], .btn {
  font-family: $title-font;
  text-transform: uppercase;

  color: get-color(default, text-hl);
}
h4, h5, h6, [data-font~="semibold"] {
  font-weight: 600;
}
h2, h3, [data-font~="bold"], .btn {
  font-weight: 700;
}
h1, [data-font~="ultrabold"] {
  font-weight: 800;
}
h4, h5, h6 {
	margin-top: $tiny-spacing;
	margin-bottom: $tiny-spacing;
}
h2, h3 {
	margin-top: $small-spacing;
	margin-bottom: $small-spacing;
}
h1 {
	margin-top: $base-spacing;
	margin-bottom: $base-spacing;
}

[data-font*="uppercase"] {
  text-transform: uppercase;
}
[data-font*="capitalize"] {
  text-transform: capitalize;
}
[data-font*="centered"] {
  text-align: center;
}
[data-font*="left"] {
  text-align: left;
}
[data-font*="right"] {
  text-align: right;
}
[data-font*="small"] {
  font-size: $font-size-small;
}
[data-font*="dimmed"] {
  opacity: .7;
}


hr {
	border-color: $base-border-color;
}


p { line-height: 1.5; }


.darkbg .title, .darkbg h1, .darkbg h2, .darkbg h3, .darkbg h4, .darkbg h5, .darkbg h6 {
	color: get-color(dark, text-hl);
}
.darkbg {
	background-color: get-color(dark, base);
	color: get-color(dark, text);
}
.darkbg .icon {
	color: get-color(dark, text);
}

a, .darkbg a, .darkbg a .icon {
  text-decoration: none;
  color: get-color(default, text-bright);

  transition: color .1s ease-in-out;
}
#header {
    background: get-color(header, base);
    background: linear-gradient(to left, get-color(header, start),get-color(header, end) );
    z-index: -100;
}
a:hover, .pages a:hover, #topbar nav a:hover, a.icon:hover, a:hover .icon {
	color: get-color(accent-main, base);
}


#topbar {
  height: $huge-spacing;

  position: relative;
  z-index: 10000;
}
nav {
  justify-content: space-between;
  display: inline-block;
  margin-left: $small-spacing;
  font-size: $font-size-small;
  font-weight: bold;

  line-height: $huge-spacing;

  @include noselect;
}
#topbar nav a, nav .icon {
  color: get-color(dark, text-hl);
  margin-left: $small-spacing;
}
nav * {
	display: inline-block;
}
#social_links, .icon {
  font-size: 20px;
}
#page_links a {
  text-shadow: $base-text-shadow;
}
#social_links svg {
  filter: drop-shadow($base-text-shadow);
}


main {
	background-color: get-color(default, base);
	color: get-color(default, text);

	position: relative;
  padding-bottom: $huge-spacing;
  overflow: auto;

  z-index: 200;
}


.fill {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 0;

	@include bg-centered;
}

.header-img {
    background-image: url(/img/homepage-header.png);
    background-position: top;
    z-index: -1;
}

.blurred-fill {
	display: none;
}
@supports (filter: blur(1px) opacity(1)) {
	.blurred-fill {
		display: block;
		position: absolute;
		top: -30px;
		left: -30px;
		bottom: -30px;
		right: -30px;
		filter: blur(35px) opacity(.5);
		z-index: 0;

		@include bg-centered;
	}
}


ul li, ol li {
	padding-top: $micro-spacing;
	padding-bottom: $micro-spacing;
}

.pages {
	list-style: none;
	padding: 0px;
}
.pages > * {
	margin: 0px;
	margin: 0px $tiny-spacing;
	display: inline-block;
}
.pages a {
	color: get-color(default, text);
}
.pages .active a {
	color: get-color(accent-main, base);
}


.disabled {
	opacity: .5;
}

.hide-on-desktop, #nav_toggle_cb, #menu_btn {
	display: none;
}


@include tablet {

	.hide-on-desktop {
		display: initial;
	}
	#menu_btn {
		display: block;
		position: absolute;
		right: 0;
		padding: $tiny-spacing;

		@include noselect;
	}

	#topbar nav {
		display: none;
		flex-direction: column;
		position: absolute;
		top: $huge-spacing;
		right: $tiny-spacing;
		left: $tiny-spacing;
		background-color: get-color(dark, base);
		line-height: normal;
		padding: $tiny-spacing;
		margin-left: 0;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
		align-items: flex-end;
		justify-content: none;

		border-radius: $round-radius;
	}
	#topbar nav a, nav .icon {
	  color: get-color(dark, text-hl);
	  margin-left: 0;
	}
	#page_links, #social_links {
		text-align: center;
	}
	#social_links {
		margin-top: $base-spacing;
	}
	#social_links :not(:first-child) {
		margin-left: $base-spacing;
	}
	#social_links {
		margin-top: $small-spacing;
		margin-bottom: $small-spacing;
	}
	nav.flex > *, nav.flex > * > * {
		display: block;
		margin-left: 0;
	}
	nav.flex > * > * {
		padding-top: $tiny-spacing / 2;
		padding-bottom: $tiny-spacing / 2;
	}
	nav.flex > :last-child > :last-child {
		margin-bottom: 0;
	}

	#nav_toggle_cb:checked ~ #topbar #menu_btn {
		color: get-color(accent-main, base);
	}
	#nav_toggle_cb:checked ~ #topbar > nav.flex {
		display: initial;
	}
	#nav_toggle_cb:checked ~ #topbar {
		// background-color: get-color(dark, base);
	}

	nav .shop {
		display: inline-block;
	}
}

@include mobile {
	h1 { font-size: $font-size-big5 * .6; }
	h2 { font-size: $font-size-big4 * .8; }
	h3 { font-size: $font-size-big3 * .8; }
}
