<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>
      <a href="{{ .Permalink }}">{{ if .IsPage }}{{ if .Draft }}{{ .Site.Data.Strings.draft }} :: {{ end }}{{ end }}{{ .Title }}</a>
    </h3>

    <p>
      {{ range .Params.tags }}
      <span class="label label-primary">#{{ . }}</span>
      {{ end }}

      <span class="badge">{{ .WordCount }} words</span>
    </p>

    <p>
      {{ if .IsPage }} {{ if .Description }} {{ .Description }} {{ else }} {{ .Summary }} {{ end }} {{ end }}
    </p>

  </div>
</div>
