{{ define "header_content" }}
<div class="header-background"></div>
<div class="header-article">
    <h1 class="title">{{.Title}}</h1>
    {{ with .Params.author }}
    {{ with (index $.Site.Data.authors . ) }}
    <p class="subtitle">by: {{ .name }} </p>
    {{ end }}
    {{ end }}
</div>
{{ end }}

{{ define "main" }}
<div class="content-container">
    <div class="content-grid">
        <article class="padding-v-base item -center">
            {{ with .Params.banner }}
            <img loading="lazy" src="{{ .src }}" alt="{{ .alt }}">
            {{ end }}
            {{ .Content }}
            {{ partial "modules/team_members" . }}
        </article>
    </div>
</div>
{{ end }}
