{{ define "header_content" }}
<div class="header-background"></div>
<div class="header-article">
    <div class="content-grid">
        <div class="item -span4">
            {{ partial "components/tutorial-breadcrumbs" . }}
            {{ partial "components/tutorial-title" . }}
        </div>
    </div>
</div>
{{ end }}


{{ define "main" }}
{{ $course_page := .Parent }}
{{ if eq .CurrentSection.Parent.Type "course" }}
{{ $course_page = .CurrentSection.Parent }}
{{ end }}
<div class="content-container flex">
    {{ partial "components/nav-tutorial" . }}

    <article class="blog-post padding-v-base big">
        {{ partial "components/banner-image" (dict "context" . "is_summary" false) }}

        {{ with .Params.videoid }}
        {{ partial "components/video-youtube" . }}
        {{ end }}

        <div class="margin-bottom-big margin-top-base">
            <p>{{ .Description }}</p>
            {{ .Content }}

            {{ with .Resources }}
            <section id="resources" class="margin-v-base">
                <h4>Resources</h4>
                {{ $res := union (where . "ResourceType" "ne" "image") (where . "ResourceType" "eq" "image") }}
                {{ range $res }}
                {{ if eq .ResourceType "image" }}
                <small>{{ .Name }}</small>
                <a download href="{{ .Permalink }}">
                    <img loading="lazy" src="{{ .Permalink }}" alt="{{ .Name }}">
                </a>
                {{ else }}
                <div class="flex justify-space-between align-items-center">
                    <small>{{ .Name }}</small>
                    <a download href="{{ .Permalink }}" class="button-link">download</a>
                </div>
                {{ end }}
                {{ if ne . (index (last 1 $res) 0) }}
                <hr>{{ end }}
                {{ end }}
            </section>
            {{ end }}

            <div class="margin-top-big">
                <hr>
                <div class="flex justify-space-between">
                    {{ with .PrevInSection }}
                    <a href="{{ .Permalink }}">Previous</a>
                    {{ end }}
                    {{ with .NextInSection }}
                    <a href="{{ .Permalink }}">Next</a>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="flex flex-horizontal">
            <div class="margin-top-base">
                {{ partial "components/authors" . }}
            </div>
            {{ partial "improve-this-page.html" . }}
        </div>
    </article>
</div>

<script>
 // Loads the thumbnail of a youtube video as a placeholder to increase initial page load speed,
 // especially if there are many videos on the page.
 function populateVideosYoutube() {
     var youtubeVideos = document.getElementsByClassName("video-youtube");

     for (var i = 0; i < youtubeVideos.length; i++) {
         // Load the image asynchronously
         var imageSource =
             "https://i.ytimg.com/vi/" +
             youtubeVideos[i].dataset.embed +
             "/sddefault.jpg";
         var image = new Image();
         image.src = imageSource;
         image.addEventListener(
             "load",
             (function () {
                 youtubeVideos[i].appendChild(image);
             })(i)
         );

         // Replace div with iframe on click
         youtubeVideos[i].addEventListener("click", function () {
             var iframe = document.createElement("iframe");

             iframe.setAttribute("frameborder", "0");
             iframe.setAttribute("allowfullscreen", "");
             iframe.setAttribute("allow", "autoplay; encrypted-media");
             iframe.setAttribute(
                 "src",
                 "https://www.youtube.com/embed/" + this.dataset.embed + "?autoplay=1"
             );
             this.innerHTML = "";
             this.appendChild(iframe);
         });
     }
 }

 window.addEventListener('DOMContentLoaded', (event) => {
     populateVideosYoutube();
 });
</script>
{{ end }}
