.button-link {
  display: inline-block;
  border-radius: 24px;
  padding: $spacing-micro $spacing-small;

  line-height: normal;
  font-size: $font-size-small;
  font-weight: 700;
  font-family: $font-title;
  text-transform: uppercase;
  text-align: center;

  color: $color-accent-main-text;
  background-color: $color-button-background;
  // For <input> tags with the class button
  border: none;

  &:hover {
    transform: scale(1.04);
    box-shadow: $base-hover-shadow;
    color: $color-accent-main-text;
  }

  &.-yellow {
    background-color: $color-accent-opt-base;
    color: $color-dark-base;
  }

  &.-yellow:hover {
    color: $color-dark-base;
  }

  &.full {
    width: 100%;
    box-sizing: border-box;
  }

  &.-flat {
    background: none;
    color: $color-link;
    box-shadow: none;
  }

  &.-textlight {
    color: $color-accent-main-text;
  }

  &.-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &.-navtutorial {
    height: 48px;
  }

  &.-fullwidth {
    width: 100%;
    border-radius: 0;

    &:hover {
      transform: none;
      box-shadow: none;
      color: $color-accent-main-text;
      background-color: $color-link-hover;
    }
  }

  &.-mobileonly {
    display: none;
  }

}

@include mobile {
  .button-link {
    &.-mobileonly {
      display: inline-block;
    }
  }
}
