// Grid of content
@include desktop {
  @supports (display: grid) {
    .content-grid {
      display: grid;
      grid-template-columns: repeat(6, minmax(100px, 1fr));
      gap: $spacing-base;
      grid-auto-rows: max-content;
      justify-items: center;

      &.-columns5 {
        grid-template-columns: repeat(5, minmax(100px, 1fr));
      }

      > .item {
        grid-column: span 3;

        &.-fill {
          width: 100%;
        }

        &.-center {
          grid-column: 2 / span 4;
        }

        &.-span1 {
          grid-column: span 1;
        }

        &.-span2 {
          grid-column: span 2;
        }

        &.-span4 {
          grid-column: span 4;
        }
      }
    }
  }
}

@include tablet {
  .content-grid {
    display: flex;
    flex-flow: column;
    align-items: center;

    &.-mobilerow {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      > .item {
        margin-left: $spacing-micro;
        margin-right: $spacing-micro;
      }

      > .item:last-child{
        margin-bottom: $spacing-base;
      }
    }

    > .item {
      margin-bottom: $spacing-base;

      &.-mobileunmargin {
        margin-bottom: 0;
      }
    }

    > .item:last-child {
      margin-bottom: 0;
    }
  }
}
