// Grid of content
@include desktop {
  @supports (display: grid) {
    .content-grid {
      display: grid;
      grid-template-columns: repeat(6, minmax(100px, 1fr));
      gap: $spacing-base;
      grid-auto-rows: max-content;
      justify-items: center;

      > .item {
        grid-column: span 3;

        &.-center {
          grid-column: 2 / span 4;
        }

        &.-span2 {
          grid-column: span 2;
        }

        &.-span4 {
          grid-column: span 4;
        }
      }
    }
  }

}

@include mobile {
  @supports (display: grid) {
    .content-grid {
      display: grid;
      grid-template-columns: 100%;
      gap: $spacing-base;
    }
  }
}
