// Homepage header
$color-purple: #7e3ab791;

.header-home {
  background-color: transparent;
  padding-bottom: 2rem;

  > .button {
    margin-top: 2em;
  }

  > .title {
    text-shadow: $color-purple 0px 4px 4px;
  }

  > .subtitle {
    text-shadow: $color-purple 0px 2px 3px;
  }
}
