$color: white;
$size: 34px;

@mixin pill() {
  content: "";
  position: absolute;
  width: 100%;
  height: 12%;
  background: $color;
  transition: all 0.5s cubic-bezier(.18, .88, .42, 1.0);
}

.main-menu-icon {
  display: block;
  position: relative;
  width: $size;
  height: $size;

  > .outerlines {
    &:before {
      @include pill();
      top: 10%;
      right: 0;
    }

    &:after {
      @include pill();
      bottom: 10%;
      left: 0;
    }

    > .centerlines {
      position: absolute;
      display: flex;
      align-items: center;
      height: $size;
      width: $size;

      &:before,
      &:after {
        @include pill();
      }
    }
  }

  input {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: $size;
    height: $size;
    cursor: pointer;

    &:hover ~ .outerlines {
      &:before,
      &:after,
      :before,
      :after {
        background: darken($color, 5);
      }
    }

    &:checked ~ .outerlines {
      &:before,
      &:after {
        width: 0;
      }

      .centerlines {
        &:before {
          transform: rotate(135deg);
        }
        &:after {
          transform: rotate(45deg);
          box-shadow: 0 0 0 0 lighten($color, 35);
        }
      }
    }
  }
}
