.nav-tutorial {
  padding: $spacing-small;

  a {
    color: $color-default-text;
    &:hover {
      color: $color-link-hover;
    }
    .-active {
      color: $color-gdquest-pink;
    }
  }

  ul,
  li {
    padding: 0;
  }
}

.menu-link {
  &.-section {
    font-weight: 800;
  }

  > a {
    display: block;
    padding: 16px 0;

    &.-tutorial {
      padding: 8px;
    }
  }
}

@include mobile {
  .nav-tutorial {
    display: none;
  }
}
