// Side-bar (desktop) or full-screen menu (mobile) to navigate tutorials and video series. Used in the nav-tutorial partial

$icon-width: 48px;

.nav-tutorial {
  width: 300px;
  padding: $spacing-small;

  a {
    color: $color-default-text;
    &:hover {
      color: $color-link-hover;
    }
  }

  ul,
  li {
    padding: 0;
  }

  > .close {
    display: none;
  }

  .-folded {
    display: none;
  }
}

.menu-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.-section {
    font-weight: 800;
  }

  &.-child1 {
    padding-left: $icon-width;
  }

  > a {
    display: block;
    padding: 16px 0;

    &.-active {
      color: $color-link-hover;
    }

    &.-tutorial {
      padding: 8px 0;
    }
  }
}

.menu-icon {
  fill: #282728;
  width: $icon-width;
  height: $icon-width;
  margin-top: auto;
  margin-bottom: auto;
}

@include mobile {
  .nav-tutorial {
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    background: $color-default-base;
    width: 100%;
    height: calc(100% - 48px);
    overflow-y: scroll;
    z-index: 100;

    &.-open {
      display: block;

      > .list {
        display: block;
      }
    }

    > .list {
    }
  }
}
