// Round pill for non-clickable tags, e.g. indicating that a tutorial is video-only.
.tag-pill {
  display: inline;
  padding: 2px $spacing-micro;
  border-radius: $round-radius + 2px;

  max-height: 1.4em;
  margin-top: auto;
  margin-bottom: auto;

  font-size: 0.9em;
  font-weight: 500;

  color: white;
  background: $color-button-background;

  &.-shadow {
    box-shadow: $shadow-tiny;
  }

  &.-yellow {
    color: $color-dark-base;
    background-color: $color-accent-opt-base;
  }

  &.-green {
    color: $color-dark-base;
    background: $color-gdquest-green;
  }

  &.-purple {
    background: $color-gdquest-purple;
  }

  &.-floatright {
    float: right;
  }
}
