// Round pill for non-clickable tags, e.g. indicating that a tutorial is video-only.
.tag-pill {
  display: inline;
  padding: 0 $spacing-micro;
  border-radius: $round-radius;

  font-size: 0.9em;
  font-weight: 500;

  color: white;
  background: $color-button-background;

  &.-yellow {
    color: $color-dark-base;
    background-color: $color-accent-opt-base;
  }

  &.-green {
    color: $color-dark-base;
    background: $color-gdquest-green;
  }

  &.-purple {
    background: $color-gdquest-purple;
  }
}
