// Grid of cards with basic info about team members, used on the about page.
.team-members {
  display: grid;
  grid-template: "a b c d";
  column-gap: 1rem;
  row-gap: 1rem;

  margin: 0;
}

.team-card {
  max-width: 100%;

  overflow: hidden;
  text-align: center;

  border-radius: 8px;

  color: white;
  background-color: #272b30;

  > .avatar {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
  }

  > .name {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0.4rem;
  }

  > .role {
    margin: 0.4rem;
  }
}

@include mobile {
  .team-members {
    grid-template: "a b";
  }

  .team-card > .avatar {
    max-height: 10rem;
  }
}
