// Grid of cards with basic info about team members, used on the about page.
.team-members {
  display: grid;
  grid-template: "a b c d";
  column-gap: 1rem;
  row-gap: 1rem;

  margin: 0;
}

.team-card {
  background-color: #272b30;

  border-radius: 8px;
  color: white;

  overflow: hidden;
  text-align: center;

  > .avatar {
    width: 12rem;
    height: 12rem;
    background-size: contain;
  }

  > .name {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0.4rem;
  }

  > .role {
    margin: 0.4rem;
  }
}
