.banner-img {
  // To remove
  border: $bannerBorderSize solid;
  border-bottom: none;
  border-top: none;

  box-sizing: border-box;
  display: block;
  
  margin-left: auto;
  margin-right: auto;

  // Color variants
  @each $name, $color in $colors {
    @if $name == "gdquest" {
      @each $type, $value in $color {
        &.-#{$type} {
          border-color: $value;
        }
      }
    }
  }
}