button {
  background-color: transparent;
  border: 1px solid get-color(base, primary);
  color: get-color(base, primary);

  cursor: pointer;

  line-height: 2rem;
  
  overflow: visible;
  padding: 0 1.5em;

  transition: background-color $transition-duration;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: get-color(base, primary);
    color: get-color(text, inverted);
  }

  &[disabled] {
    border-color: get-color(state, muted);
    color: get-color(state, muted);
    cursor: not-allowed;
  }

  &.-calltoaction {
    font-size: type-scale(3);
    margin: .75rem 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  // SUCCESS color
  @each $color-name, $color in $colors {
    @each $state, $value in $color {
      @if $color-name == "state" and $state == "success" {
        &.-#{$state} {
          border-color: $value;
          color: $value;

          &:hover,
          &:focus {
            background-color: $value;
            color: get-color(text, primary);
          }

          &:active {
            background-color: ligthen($value, 5%);
          }
        }
      }
    }
  }
}