.card-box {
  background-color: get-color(background, dark);
  margin-bottom: 1.5rem;
  overflow: hidden;

  &.-product {
    margin-top: 1.5rem;
    padding: 1.5rem;
  }

  > .content {
    padding: 1rem;
    padding-top: 0;

    > p {
      margin-top: 0;
    }

    > .image {
      float: left;
      padding-right: 1rem;
    }
  }
}

