.collection {
  background-color: get-color(background, dark);
  list-style: none;
  margin-bottom: 1rem;
  padding: 0 1rem;

  > .item {
    border-bottom: 1px solid get-color(base, lines);
    padding: .6rem;

    &:nth-last-of-type(1) {
      border: 0;
    }
  }
}
