nav {
  border-bottom: 2px solid get-color(background, dark);
  text-align: center;

  & ul {
    padding: 0;
  }
  @include desktop {
    & ul {
      display: flex;
      justify-content: flex-end;
    }
  }

  a {
    &:visited {
      color: get-color(base, primary);
    }
  }

  li {
    @include desktop {
      border-bottom: 1px solid get-color(background, dark);

      &:last-child {
        border-bottom: 0;
      }
    }

    display: block;

    a {
      display: block;
      padding: 1.05rem;

      &:hover {
        background-color: get-color(background, dark);
        color: #fff;
      }
    }
  }

  > .active {
    background-color: get-color(background, dark);
    color: #fff;
    cursor: default;
  }

  > .-logo {
    max-width: 200px;
    padding: .8rem;
  }
}

// Horizontal on desktop

label {
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
  position: absolute;
  right: 0;
}

#nav-button {
  display: none;
}

.nav-button {
  line-height: $nav-height * .6;
  margin: 0;

  @include desktop {
    display: none;
  }
}

#menu {
  @include mobile {
    max-height: 0;
    overflow: hidden;
  }
}

#nav-button:checked ~ #menu {
  max-height: 500px;
}
