<head>
  <title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>

  {{ if .RSSLink }} <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" /> {{ end }}
  <link rel="canonical" href="{{ .Permalink }}" />

  <link rel="icon" type="image/png" href="/gdquest-favicon.png" />
  <link href="{{ "/favicon.png" | absURL }}" rel="icon">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/touch-icon-144-precomposed.png" | absURL }}">

  <!-- title font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800" rel="stylesheet"> 

  <!-- font-awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <link rel="stylesheet" href="/css/gdquest.css">

  {{ partial "meta" . }}
</head>
