<head>
    <title>{{ .Title }}{{ if ne .Title "" }} &middot; {{ end }}{{ .Site.Title }}</title>
    {{ with .OutputFormats.Get "rss" }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ partialCached "favicon" . }}
    <!-- title font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800&display=swap" rel="stylesheet">
    <!-- font-awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!--     GDQuest stylesheet
    -->
    {{ $stylesheet := resources.Get "scss/gdquest.scss" | resources.ToCSS | minify | fingerprint }}
    <!--     Build main javascript.
    -->
    {{ $lazyVideo := resources.Get "js/lazy-load-videos.js" }}
    {{ $lazyVideoYoutube := resources.Get "js/lazy-load-videos-youtube.js" }}
    {{ $nav := resources.Get "js/navigation-controls.js" }}
    {{ $js := slice $nav $lazyVideo $lazyVideoYoutube | resources.Concat "js/main.js" | resources.Minify }}
    <script src="{{ $js.RelPermalink }}"></script>

    <!-- Analytics. -->
    <script async defer data-domain="gdquest.com" src="https://plausible.io/js/plausible.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

    <!-- MailerLite Universal -->
    <script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '2869099', 'u1n3t9l6q4', 'load');
    </script>
    <!-- End MailerLite Universal -->

    <link rel="stylesheet" href="{{ $stylesheet.Permalink }}">
    {{ partial "meta" . }}

    <!-- Page translations -->
    {{ if .IsTranslated }}
        {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
        {{ end }}
    {{ end }}
    {{ block "header_extra" . }} {{ end }}
</head>
