<section class="grid split2 container base-v-margin list" id="highlights">

  <div class="card darkbg big">
    <div class="content">
      <h2 class="title">discover game art quest</h2>

      <p>
        I will show the techniques professionals use to create games and beautiful sprites with Free, Open Source Software. 
      </p>

      <div class="buttons">
        <a href="/krita/game_art_quest" class="btn flat">learn more</a>
      </div>
    </div>
  </div>

  <div class="card darkbg small">
    <div class="content">
      <h2 class="title">new pro course</h2>

      <div class="buttons">
        <a href="" class="btn flat">learn more</a>
      </div>
    </div>
  </div>

</section>