<section class="grid split2 container base-v-margin list" id="highlights">
    <div class="card darkbg big">
        <div class="content">
            <h2 class="title">Discover Game Art Quest</h2>

            <p>
                This course will show the techniques professionals use to create beautiful game art with Krita, a free painting program.
            </p>

            <div class="buttons">
                <a href="/krita/game_art_quest" class="btn flat">learn more</a>
            </div>
        </div>
    </div>

    <div class="card darkbg small">
        {{ partial "modules/banner" (.Site.GetPage "section" "blender/power-sequencer") }}
        <div class="content">
            <h2 class="title">Blender Power Sequencer</h2>

            <p>Edit videos in Blender faster than ever. </p>

            <div class="buttons">
                <a href="/blender/power-sequencer" class="btn flat">learn more</a>
            </div>
        </div>
    </div>
</section>