{{ $character_map := (dict "ONE" "1" "TWO" "2" "THREE" "3" "FOUR" "4" "FIVE" "5" "SIX" "6" "SEVEN" "7" "EIGHT" "8" "NINE" "9" "ZERO" "0" "PLUS" "+" "UP_ARROW" "↑" "DOWN_ARROW" "↓" "LEFT_ARROW" "←" "RIGHT_ARROW" "→" "LEFT_BRACKET" "[" "RIGHT_BRACKET" "]" "LEFTMOUSE" "LMB" "RIGHTMOUSE" "RMB") }}

<span class="keystroke">
    {{ with .ctrl }}<code>Ctrl</code>{{ end }}
    {{ with .alt }}<code>Alt</code>{{ end }}
    {{ with .shift }}<code>Shift</code>{{ end }}

    {{ if isset $character_map .type }}
        <code>{{ index $character_map .type }}</code>
    {{ else }}
        <code>{{ .type }}</code>
    {{ end }}
</span>
