<nav role="navigation" class="nav-main">
    <a href="{{.Site.BaseURL}}" class="logo"><img src="/img/gdquest-logo.svg" alt="GDQuest logo" /></a>
    <div class="main-menu-icon menu" onclick="navToggleMenu(this.parentNode)">
        <input type="checkbox" />
        <div class="outerlines">
            <div class="centerlines">
            </div>
        </div>
    </div>
    <div class="links">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        <a {{if $currentNode.IsMenuCurrent "main" . }} class="active" {{ end }} href="{{ .URL }}">
            {{ .Name }}
        </a>
        {{ end }}
        <a href="https://school.gdquest.com/" class="new"><div class="new-text">new!</div><div>Godot 4 courses</div></a>
    </div>
    <div class="links -social">
        {{ range .Site.Params.social }}
        <a target="_blank" href="{{ .link }}" rel="noopener">
            <i class="fab fa-{{ .icon }}" title="{{ .description }}"></i>
        </a>
        {{ end }}
    </div>
    <div class="links">
        <div>
            {{ partial "components/search-bar" }}
        </div>
    </div>
    {{ partial "components/language-dropdown" . }}
</nav>
