<nav class="nav-main flex full align-items-center justify-space-between">
    <div data-font="centered">
        {{ $currentNode := . }} {{ range .Site.Menus.main }}
        <a {{if $currentNode.IsMenuCurrent "main" . }} class="active" {{ end }} href="{{ .URL }}">
            {{ .Name }}
        </a>
        {{ end }}
    </div>

    <div data-font="centered">
        <aside>
            {{ range .Site.Params.social }}
            <a target="_blank" href="{{ .link }}" rel="noopener">
                <i class="fab fa-{{ .icon }}" title="{{ .description }}"></i>
            </a>
            {{ end }}
        </aside>

        <a target="_blank" rel="noopener" id="shop_link" href="{{ .Site.Params.shop_link.url }}" class="button shop">
            {{ .Site.Params.shop_link.name }}
        </a>
    </div>
</nav>
