<!-- List of pages in a section or pagination -->
<ul class="pagination-list">
    <li {{ if not .Paginator.HasPrev }} class="disabled" {{ end }}>
        <a aria-label="Previous" href="{{ if .Paginator.HasPrev }}{{ .Paginator.Prev.URL }}{{ else }}#{{ end }}">
            <span aria-hidden="true">&larr;</span>
        </a>
    </li>

    {{ range .Paginator.Pagers }}
    <li {{ if eq . $.Paginator }} class="-active" {{ end }}>
        <a href="{{ .URL }}">{{ .PageNumber }}</a>
    </li>
    {{ end }}

    <li {{ if not .Paginator.HasNext }} class="disabled" {{ end }}>
        <a aria-label="Next" href="{{ if .Paginator.HasNext }}{{ .Paginator.Next.URL }}{{ else }}#{{ end }}">
            <span aria-hidden="true">&rarr;</span>
        </a>
    </li>
</ul>
