{{ $p := .Paginator }}

<ul class="pages flex">
  <li {{ if not $p.HasPrev }} class="disabled" {{ end }}>
    <a aria-label="Previous" href="{{ if $p.HasPrev }}{{ $p.Prev.URL }}{{ else }}#{{ end }}">
      <span aria-hidden="true">&larr;</span>
    </a>
  </li>

  {{ range $p.Pagers }}
    <li {{ if eq . $p }} class="active" {{ end }}>
      <a href="{{ .URL }}">{{ .PageNumber }}</a>
    </li>
  {{ end }}

  <li {{ if not $p.HasNext }} class="disabled" {{ end }}>
    <a aria-label="Next" href="{{ if $p.HasNext }}{{ $p.Next.URL }}{{ else }}#{{ end }}">
      <span aria-hidden="true">&rarr;</span>
      </a>
  </li>
</ul>