{{ with .Get 0 }}
{{ with getJSON . }}
<section class="grid split2 container">
    <!-- Left column: operators list menu -->
    <aside class="small">
        <h3 class="no-margin-top">operators</h3>
        <ul>
            {{ range $key, $value := . }}
            <li> <a href="#{{$key}}">{{ $value.name }}</a></li>
            {{ end }}
        </ul>
    </aside>

    <div class="shortcuts big">
        {{ range $key, $value := . }}
        <section id="{{$key}}">
            <h5>{{$value.name}}</h5>
            <p>{{ strings.TrimPrefix "*brief* " $value.description | markdownify }}</p>
            <p>
                {{ with index $value.demo }} <img src="{{.}}" alt=""> {{ end }}
            </p>

            <!-- Shortcut JSON example: -->
            <!-- "shortcuts": [
                [{"type": "X", "value": "PRESS"}, {}, "Delete Direct"],
                [{"type": "DEL", "value": "PRESS"}, {}, "Delete Direct"]
            ]-->
            {{ range $value.shortcuts }}
            <div class="shortcut">
                <div>
                    {{ $shortcut := (index . 0) }}
                    {{ partial "keystroke.html" $shortcut }}
                    <span>{{ index . 2 }}</span>
                </div>
            </div>
            {{ end }}
        </section>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}