article {
	max-width: 800px;
	margin: auto;
}
article video, article img, article iframe {
	display: block;
	max-width: 100%;
	margin: auto;
	height: auto;
}
article pre {
	background-color: rgba(0, 0, 0, .05);
	padding: $tiny-spacing;
}
article code {
	max-width: 100%;
	white-space: pre-wrap;
}

article > h1, article > h2, article > h3, article > section {
	margin-top: $big-spacing;
}

article h2 + h3, article h1 + h2 {
	margin-top: 0;
}