article {
    max-width: 800px;
    margin: 0 auto;
}

article video,
article img,
article iframe {
    display: block;
    max-width: 100%;
    margin: auto;
}

article pre {
    background-color: rgba(0, 0, 0, .05);
    padding: $spacing-tiny;
}

article code {
    max-width: 100%;
    white-space: pre-wrap;
}

article>h1,
article>h2,
article>h3,
article>section {
    margin-top: $spacing-big;
}

article h2+h3,
article h1+h2 {
    margin-top: 0;
}
