.button {
    font-size: $font-size-small;
    display: inline-block;
    line-height: normal;

    &:not(.flat) {
        background-color: $color-accent-main-base;
        color: $color-accent-main-text;
        border-radius: 24px;
        padding: $spacing-micro $spacing-small;
        text-align: center;
        transition: .3s ease-in-out;
    }

    &:not(.flat):hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    &.shop {
        background-color: $color-accent-opt-base;
    }

    &.full {
        width: 100%;
        box-sizing: border-box;
    }
}

