.button {
  font-size: $font-size-small;
  display: inline-block;
  line-height: normal;

  background-color: $color-button-background;
  color: $color-accent-main-text;
  border-radius: 24px;
  padding: $spacing-micro $spacing-small;
  text-align: center;

  &:hover {
    transform: scale(1.04);
    box-shadow: $base-hover-shadow;
    color: $color-accent-main-text;
  }

  &.-yellow {
    background-color: $color-accent-opt-base;
    color: $color-dark-base;
  }

  &.-yellow:hover {
    color: $color-dark-base;
  }

  &.full {
    width: 100%;
    box-sizing: border-box;
  }

  &.flat {
    background: none;
    color: $color-accent-main-text;
  }
}
