@mixin card-outline {
    border: 1px solid $base-border-color;
}

@mixin padding-h-card {
    padding-left: $spacing-tiny;
    padding-right: $spacing-tiny;
}

@mixin card-middle {
    border-top: none;
    border-radius: 0;
}


.card {
    overflow: auto;
    border-radius: $round-radius;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);

    position: relative;
    overflow: hidden;

    @include bg-centered;

    &.outline {
        @include card-outline;
    }

    img {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    &>.content {
        padding: $spacing-tiny;
        z-index: 2;
        position: relative;
        overflow: auto;
    }

    .title {
        margin-top: 0px;
    }

    &.profile .avatar {
        background-position: center;
        background-size: cover;
        flex: .7;
    }

    &.profile>.content {
        flex: 2;
    }

    .buttons {
        text-align: right;
        margin-top: $spacing-base;
    }

    &.top-half {
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.bottom-half {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &.middle {
        @include card-middle;
    }
}


// pseudo card mode for the course chapters section
@include tablet {
    aside.chapters {
        @include card-outline;
        @include card-middle;
        @include padding-h-card;
    }
}
