summary {
  font-weight: bold;

  :hover {
    cursor: pointer;
  }
}

details {
  border: solid 1px darkgray;
  border-radius: $round-radius;
  padding: $spacing-tiny;
}

details[open] summary ~ * {
  animation: fade-in 0.5s ease-in-out;
}
