.operator {
    padding: $spacing-base 0;

    +.operator {
        border-top: 2px solid $base-border-color;
    }

    >h5 {
        margin-top: 0;
    }
}

.shortcuts {
    border-collapse: separate;
    border-spacing: $spacing-small $spacing-tiny;
    margin: 0 (-$spacing-small) (-$spacing-tiny);

    >tbody>tr>td:first-child {
        width: 0;
        white-space: nowrap;
    }
}

.keystroke>kbd {
    border: 2px solid $color-default-text;
    padding: $spacing-micro / 4 $spacing-micro;
    border-radius: $round-radius / 2;
    display: inline-block;
    font-family: inherit;
}
