.tag {
  padding: 0 $spacing-tiny;
  margin-bottom: 0;
  margin-top: 4px;
  margin-right: 0.2em;
  border-radius: $round-radius;
  display: inline;
  color: white;
  text-transform: capitalize;
}

.tag.hobby {
  background: $color-accent-main-base;
}

.tag.indie {
  background: $color-gdquest-pink;
}

.tag.pro {
  background: #02e180;
}

.tag.hobby:after {
  content: "hobby";
}

.tag.indie:after {
  content: "indie";
}

.tag.pro:after {
  content: "pro";
}
