
{{ define "head_content" }}
{{ with .Site.Params.banner }}
<div class="fill header-img"></div>
{{ end }}
  <div class="grid center big-v-padding">
    <div data-font="centered" style="z-index:1">
      <h1 class="no-margin">Become a Game Designer</h1>
      <p>Learn professional techniques and create your own games with Free and Open Source Software</p>
      <a href="/about" class="btn base-top-margin">learn more</a>
    </div>
  </div>
{{ end }}

{{ define "main" }}

  {{ partial "highlights" . }}


  <section id="latest_news" class="container big-top-margin">
    <h4>latest news</h4>

    <div class="grid split2 list">
      {{ range first 2 (where .Data.Pages "Section" "post") }}
        {{ .Render "summary" }}
      {{ end }}
    </div>

    <div data-font="centered" class="base-top-margin">
      <a href="/post" class="btn">view all</a>
    </div>

  </section>


  <section id="latest_series" class="container big-top-margin">
    <h4>latest courses</h4>

    <div class="grid split2 list">
      {{ range first 2 (where .Data.Pages "Section" "tutorial") }}
        {{ .Render "summary" }}
      {{ end }}
    </div>

    <div data-font="centered" class="base-top-margin">
      <a href="/tutorial" class="btn">view all</a>
    </div>

  </section>


  <section id="tags" class="big-top-margin darkbg">
    <div class="container base-v-padding">
      <h3 data-font="centered" class="no-margin">Watch hundreds of free tutorials</h3>
    </div>
  </section>

  <section id="software" class="">
    <div class="container base-top-padding">
      <h3 data-font="centered" class="no-margin">Work with the most advanced Free Software</h3>

      <div class="grid split3 big-top-margin" data-font="centered">
        <div>
          <img src="/img/home/godot_logo.png" alt="godot logo" height="150px">
          <h5>Godot</h5>
          <p>Godot allows you to create both 2d and 3d games with ease, thanks to its fully-fledged, modern editor. Made by game developers, for game developers.</p>
        </div>
        <div>
          <img src="/img/home/krita_logo.png" alt="krita logo" height="150px">
          <h5>Krita</h5>
          <p>Krita is a professional open source painting program. Made by experienced artists and engineers hoping to make art more accessible to everyone.</p>
        </div>
        <div>
          <img src="/img/home/blender_logo.png" alt="blender logo" height="150px">
          <h5>blender</h5>
          <p>Blender is the free and open source 3D creation suite. It covers the entire pipeline from modeling to rendering, and even includes a video editing workspace.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="info" class="grid container center big-top-margin">
    {{ with $.Site.Data.authors.nathan }}
      {{ partial "modules/author" . }}
    {{ end }}
  </section>
{{ end }}