html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: get-color(background, body);
  box-sizing: border-box;
  color: get-color(text, primary);

  font-family: $fonts;
  font-size: $font-size + px;
  line-height: 1.5;

  margin: 0;
  text-rendering: optimizeLegibility;

  @include desktop {
    font-size: $font-size-secondary + px;
  }
}

iframe {
  border: 0;
}

main {
  display: block;
  margin-bottom: $block-margin;
}

section {
  &:first-of-type {
    margin-top: 0;
  }
}

ul,
ol {
  margin-bottom: $block-margin;
  margin-top: 0;

  &.-unstyled {
      list-style: none;
  }
}

h1,
h2,
h3 {
  font-size: inherit;
  margin-bottom: 0;
  margin-top: 0;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: .75rem;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

a {
  color: get-color(base, primary);
  text-decoration: none;
  transition-duration: $transition-duration;

  &:hover,
  &:focus {
    color: darken(get-color(base, primary), 20%);
  }

  &:visited {
    color: get-color(state, muted);
  }
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

small {
  font-size: 100% / $scale-ratio;
}

//
// 11. Automatic margins
// --------------------------------------------------
@if $automargin {
  * {
    margin: 0;
  }

  // A margin top is added to all the elements except the first one in each nesting level
  * + * {
    margin-top: $block-margin;
  }

  // These elements shouldn’t get a margin
  li,
  div,
  a,
  [column] {
    margin-top: 0;
  }

  // First paragraphs below a heading shouldn’t get a margin
  h1,
  h2,
  h3 {
    & + p {
      margin-top: 0;
    }
  }

  figure {
    margin-top: $block-margin;
  }
}

pre {
  background-color: get-color(background, dark);
  padding: 1em;
  white-space: pre-wrap;
}

blockquote {
  background-color: get-color(background, dark);
  border-left: .4rem solid get-color(base, lines);
  font-size: 1.2em;
  padding: 1em;

  > p > cite {
    font-size: .8em;

    &::before {
      content: ' - ';
    }
  }
}

// Headings
h1 {
    font-size: type-scale(6);
}

h2 {
    font-size: type-scale(5);
}

h3 {
    font-size: type-scale(4);
}

h1, h2, h3 {
    color: get-color(text, heading);
    line-height: 1.3;
    margin: .8rem 0 .4rem;

    a {
        color: inherit;

        &:hover,
        &:focus {
            color: get-color(base, primary);
            text-decoration: none;
        }
    }
}
// sup {
//   position: relative;
//   top: -.5em;
//   vertical-align: baseline;
//   font-size: 75%;
//   line-height: 0;
// }


// TODO: Replace those styles, merge with other classes (e.g. button with button.css)

.hidden {
    display: none;
}

.-no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0;
}

.container-small {
    margin: auto;
    max-width: 800px;
}

.img-circle {
    border-radius: 50%;
}

.my-fa {
    display: inline-block;
    font: normal normal normal 14px / 1 'FortAwesome';
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
}


.follow-button {
    padding-right: .5rem;

    &:first-child {
        padding-left: .5rem;
    }
}
