$nav-height: 4rem !default;
// Font size for small devices
$font-size: 16;
// Font size for big devices
$font-size-secondary: 18;
// Tracking
$letter-spacing: .05em;
// Font families
// $fonts: "Roboto", "Arial Rounded MT Bold", "Trebuchet MS", Arial, sans-serif;
$fonts: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif;
$font-print-primary: $fonts;
$font-print-secondary: $fonts;
// Enable margins to all elements except first one in each nesting level
$automargin: true;
// ^ How much margin for those elements
$block-margin: 1.2rem;
// Transition duration
$transition-duration: 150ms;
// Custom media queries
// Use as @media (--medium) { … }
$mobile-width: 480px;
@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $mobile-width) {
    @content;
  }
}

// Spacing variables
$spacing-xs: .9rem;
$spacing-s: 1.8rem;
$spacing-m: 3.5rem;
$spacing-l: 5rem;
$spacing-xl: 7rem;
// Type Scale
// Source: http://type-scale.com/
$_minor-second: 1.067;
$_major-second: 1.125;
$_minor-third: 1.2;
$_major-third: 1.25;
$_perfect-fourth: 1.333;
$_augmented-fourth: 1.414;
$_perfect-fifth: 1.5;
$_golden-ratio: 1.618;
// Ratio for primary scale
$scale-ratio: $_major_third;
// Ratio for secondary scale
$scale-ratio-secondary: $_perfect-fourth;
//
// Grid
// --------------------------------------------------
// Max column count
$num-columns: 3;
// Max width for container
$container-width: 1200px;
// Gutter size
$gutter: 20px;
// Use get-color(base, primary) to get colors
$colors: (
    base: ("primary": #ffc107, "selection": #d6d6d6, "lines": #353e44),
    gdquest: ("yellow": #FFC107, "green": #48c141, "blue": #1976D2, "pink": #E91E63),
    text: ("primary": #fff, "secondary": #999, "heading": #fff, "inverted": white),
    background: ("dark": #1f2328, "light": #31383c, "body": #272b30),
    state: ("muted": #777, "success": #48c141, "warning": #f97e19, "error": #d22e2e)) !default;
$bannerBorderSize: 6px;