<div class="container">
  <div class="col-md-10 col-md-offset-1">
    {{ partial "head" . }}

    <h1>{{ .Title }} {{ if .IsPage }}{{ if .Draft }}<small>(draft)</small>{{ end }}{{ end }}</h1>

    {{ range .Site.Data.roadmap }}
      <h1>{{ .Title }} {{ if .IsPage }}{{ if .Draft }}<small>(draft)</small>{{ end }}{{ end }}</h1>
      {{ .description }}

      {{ range .task }}
        {{ range . }}
          {{ . }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ partial "footer" . }}
  </div>
</div>
