{{ define "head_content" }}
<div class="fill header-bg header-bg-section"></div>
<div class="grid split2 padding-v-small">
    <div>
        <h1 class="margin-none">Tutorials</h1>
        <p>Start your game development adventure.</p>
    </div>
</div>
{{ end }}


{{ define "main" }}
<section id="tutorial_series" class="container padding-v-base">
    {{.Content}}
    <div class="grid split2 list">
        {{ range .Pages }}
        {{ .Render "summary" }}
        {{ end }}
    </div>
</section>
{{ end }}
