{{ define "header_content" }}
    {{ partial "components/section-header" . }}
{{ end }}

{{ define "main" }}
{{ $page := . }}
{{ if eq .CurrentSection.Parent.Type "tutorial" }}
{{ $page = .CurrentSection.Parent }}
{{ else if .IsPage }}
{{ $page = .CurrentSection }}
{{ end }}
<div class="flex">
    {{ partial "components/nav-tutorial" $page }}
    <section class="container padding-v-base">
        {{.Content}}
        <div class="grid split2">
        {{ range .Pages }}
        {{ .Render "summary" }}
        {{ end }}
        </div>
    </section>
</div>
{{ end }}
