{{ define "header_content" }}
<div class="header-background"></div>
<div class="header-article">
    <div class="content-grid">
        <div class="item -span4">
            {{ partial "components/tutorial-title" . }}
        </div>
    </div>
</div>
{{ end }}


{{ define "main" }}
<div class="content-container flex">
    {{ partial "components/nav-tutorial" . }}
    <section class="padding-v-base">
        <article class="blog-post">
            {{ partial "components/banner-image" (dict "context" . "is_summary" false) }}
            {{ partial "table-of-contents" . }}
            {{ .Content }}
            {{ partial "components/next-and-previous" . }}
            <div class="flex flex-horizontal">
                <div class="card-box margin-top-base">
                    {{ partialCached "components/mailing-signup" . }}
                </div>
                <div class="margin-top-base">
                    {{ partial "components/authors" . }}
                </div>
                {{ partial "improve-this-page.html" . }}
            </div>
        </article>

        {{ partial "components/related-products" . }}
        {{ partial "components/related-pages" . }}
    </section>
</div>

{{ end }}
