$nav-height: 3.4em !default;
// Font size for small devices
$font-size: 16;
// Font size for big devices
$font-size-secondary: 18;
// Tracking
$letter-spacing: 0.05em;
// Font families
$font-primary: "Roboto",
"Arial Rounded MT Bold",
"Trebuchet MS",
Arial,
sans-serif;
$font-secondary: "Roboto",
Calibri,
Helvetica,
Arial,
sans-serif;
$font-mono: Consolas,
monospace;
$font-print-primary: $font-primary;
$font-print-secondary: $font-primary;
// Enable margins to all elements except first one in each nesting level
$automargin: true;
// ^ How much margin for those elements
$block-margin: 1lh;
// Transition duration
$transition-duration: 150ms;
// Custom media queries
// Use as @media (--medium) { … }
@custom-media --extra-small (width <=480px);
@custom-media --small (width >=480px);
@custom-media --medium (width >=768px);
@custom-media --large (width >=960px);
@custom-media --extra-large (width >=1100px);
@custom-media --only-small (480px < width <=768px);
@custom-media --only-medium (768px < width <=980px);
@custom-media --only-large (980px < width <=1100px);
// Spacing variables
$spacing-xs: 0.5lh;
$spacing-s: 1lh;
$spacing-m: 2lh;
$spacing-l: 3lh;
$spacing-xl: 4lh;
// Type Scale
// Source: http://type-scale.com/
$_minor-second: 1.067;
$_major-second: 1.125;
$_minor-third: 1.2;
$_major-third: 1.25;
$_perfect-fourth: 1.333;
$_augmented-fourth: 1.414;
$_perfect-fifth: 1.5;
$_golden-ratio: 1.618;
// Ratio for primary scale
$scale-ratio: $_major_third;
// Ratio for secondary scale
$scale-ratio-secondary: $_perfect-fourth;
//
// Grid
// --------------------------------------------------
// Enable grid styles
$enable-grid: true;
$full-grid: false;
// Max column count
$num-columns: 3;
// Max width for container
$container-width: 1200px;
// Gutter size
$gutter: 1rem;
// Prefix for attributes
$prefix: "";
// Create columns and offsets above this breakpoint
$breakpoint: --small;
// Use getColor(base, primary) to get colors
$colors: (
    base: ("primary": #ffc107, "selection": #d6d6d6, "lines": #353e44), 
    gdquest: ("yellow": #FFC107, "green": #48c141, "blue": #1976D2, "pink": #E91E63), 
    text: ("primary": #fff, "secondary": #999, "heading": #fff, "inverted": white), 
    background: ("dark": #1f2328, "light": #31383c, "body": #272b30), 
    state: ("muted": #777, "success": #48c141, "warning": #f97e19, "error": #d22e2e)) !default;
$bannerBorderSize: 6px;