// Concise
@import "settings";
@import "node_modules/concise.css/concise";
@import "node_modules/concise-ui/concise-ui";

// @import "node_modules/concise-utils/concise-utils";
@import "modules/banner-img";
@import "modules/wip";
@import "modules/text";
@import "modules/nav";
@import "modules/cards";
@import "modules/collection";
@import "modules/product";
@import "modules/course";

// Global code
img { max-width: 100%; }

a:visited { color: getColor(state, muted); }
nav {
    a:visited { color: getColor(base, primary); }
    }

section:first-of-type { margin-top: 0; }

figcaption {
    margin-top: 0.75rem;
    text-align: center;
}

.container-small {
    max-width: 800px; 
    margin: auto;
}

.lead { font-size: $font-size-secondary; }

.img-circle { border-radius: 50%; }

.my-fa {
    display: inline-block;
    font: normal normal normal 14px/1 'FortAwesome';
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
}

.no-margin-top { margin-top: 0; }

.follow-button { padding-right: 0.5rem; } 
.follow-button:first-child { padding-left: 0.5rem }