{{ $nestingLevelClass := (cond (gt .nestingLevel 0) (print " welcomments__nesting-level-" .nestingLevel) "") }}
{{ $authorHighlight := (cond (eq (index .comment "author" "role") "owner") " welcomments__comment-role-owner" "") }}
{{ $commentElementId := print "welcomments__comment-" (index .comment "id") }}
{{ $commentElementClass := print "welcomments__comment" $nestingLevelClass $authorHighlight }}
{{ $dateXmlSchema := index .comment "date" }}
{{ $formattedDate := dateFormat "January 2, 2006" $dateXmlSchema }}
{{ $message := index .comment "message" | markdownify }}
{{ $avatar := (cond (eq (index .comment "author" "avatar_url") nil) (print "https://eu.ui-avatars.com/api/?background=random&name=" (index .comment "author" "name")) (index .comment "author" "avatar_url")) }}

{{ partial "welcomments/template.html" (dict
    "id" (index .comment "id")
    "elementId" $commentElementId
    "elementClassName" $commentElementClass
    "nestingLevel" .nestingLevel
    "formattedDate" $formattedDate
    "dateXmlSchema" $dateXmlSchema
    "authorName" (index .comment "author" "name")
    "authorWebsite" (index .comment "author" "website")
    "avatarUrl" $avatar
    "message" $message
    "apiUrl" .apiUrl
    "websiteId" .websiteId)
}}

{{ $parentId := (index .comment "id") }}
{{ $nestingLevel := (add (int .nestingLevel) 1) }}
{{ $allComments := .allComments }}
{{ $apiUrl := .apiUrl }}
{{ $websiteId := .websiteId }}
{{ range .allComments }}
  {{ if eq $parentId (index . "replying_to") }}
    {{ partial "welcomments/single_comment"
          (dict
          "nestingLevel" $nestingLevel
          "allComments" $allComments
          "comment" .
          "apiUrl" $apiUrl
          "websiteId" $websiteId) }}
  {{ end }}
{{ end }}
