1<div grid>
    <div class="card-box">
        {{ if .Get "img" }}
        <div class="image"><img src="{{ .Get "img" }}" alt="{{ with .Get "alt" }}{{ . }}{{ else }}Featured picture{{ end }}"></div>{{ end }}
        {{ with .Get "title" }}
        <h3 class="card-title">{{ . }}</h3>{{ end }}
        {{ with .Get "content" }}
        <div class="content">
            <p>{{ . | markdownify }}</p>
        </div>{{ end }}

        {{ if .Get "link" }}
        <div class="card-footer -center">
            <a href="{{ .Get "link" }}">{{ with .Get "link_text" }}{{ . }}{{ else }}Link{{ end }}</a>
        </div>
        {{ end }}
    </div>
</div>