<style>
    .gumroad-follow-form-embed button,
    .gumroad-follow-form-embed input {
        font-size: 15px;
        font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        height: 40px !important
    }

    .gumroad-follow-form-embed {
        zoom: 1
    }

    .gumroad-follow-form-embed:after,
    .gumroad-follow-form-embed:before {
        display: table;
        line-height: 0;
        content: ""
    }

    .gumroad-follow-form-embed:after {
        clear: both
    }

    .gumroad-follow-form-embed * {
        margin: 0;
        border: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box !important;
        float: left !important
    }

    .gumroad-follow-form-embed input {
        border-radius: 4px 0 0 4px;
        line-height: 20px;
        background: top right no-repeat #fff;
        border: 1px solid #ddd;
        border-right: 0;
        color: #aaa;
        padding: 10px;
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, .02);
        text-rendering: optimizeLegibility;
        font-smoothing: antialiased;
        -webkit-appearance: none;
        -moz-appearance: caret;
        width: 65% !important
    }

    .gumroad-follow-form-embed button {
        border-radius: 0 4px 4px 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
        -webkit-transition: all .05s ease-in-out;
        transition: all .05s ease-in-out;
        display: inline-block;
        padding: 11px 15px 12px;
        cursor: pointer;
        color: #fff;
        line-height: 100%;
        border: 1px solid #31989d;
        filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ccfd4, endColorstr=#329ca1, GradientType=0)";
        background: -webkit-linear-gradient(top, #5ccfd4, #329ca1);
        background: linear-gradient(to bottom, #5ccfd4, #329ca1);
        width: 35% !important
    }
</style>
<form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post"><input name="seller_id" type="hidden" value="6873367754130"> <input name="email" placeholder="Your email address" type="email"> <button data-custom-highlight-color="" type="submit">Sign up</button></form>