<aside id="call-to-action">
    <div class="card-box">
        <div class="content">
            <h4 class="_unmargin-top">Want to become a better game developer?</h4>
            <div class="content-grid">
                <div class="item">
                    <a href="http://youtube.com/c/gdquest" class= "button-link">Free tutorials</a>
                </div>
                <div class="item">
                    <a href= "https://gdquest.mavenseed.com/" class= "button-link -yellow">Pro courses</a>
                </div>
            </div>
        </div>
</aside>
