{{ define "main" }}
    <section id="courses">
        <h1>{{ .Title }}</h1>
        <p>{{ .Content }}</p>

        <div grid>
        {{ range .Data.Pages.ByDate }}
            <div column class="-center">
                <div class="card-box">
                    {{ with .Params.banner }}
                        <img src="{{ . }}" alt="Course banner picture" class="lazy banner-img -yellow" />
                    {{ end }}
                    <h3 class="-center">{{ .Title }}</h3>
                    <a href="{{ .Permalink }}">
                        <!-- TODO: Remove style-->
                        <button class="-bordered -success -call-to-action" style="margin-top:0;">Watch</button>
                    </a>
                </div>
            </div>
        {{ end }}
        </div>
    </section>


    <section id="tutorials">
        <h2>Tutorials</h2>
        {{ $.Scratch.Set "columns" 0 }}
        {{ range .Site.Data.tutorial.library }}
    
            {{ if eq (mod ($.Scratch.Get "columns") 2) 0 }}
                <div grid>
            {{ end }}
            <div column>
                <div class="card-box">
                    {{ with .category }}
                        <!-- TODO: Fix banner system banner.src/alt/class-->
                        <!--<img class="banner-img {{ .banner_class }}" src="{{ .banner }}" alt="{{ .banner_alt }}">-->
                        <div class="-center">
                            <h2>{{ .title }}</h2>
                            <p>{{ .description }}</p>
                        </div>
                    {{ end }}
                    
                    <ul class="collection" style="padding:0.5rem">
                        {{ $.Scratch.Set "video_count" 0 }}
                        
                        {{ range .videos }}
                            {{ $.Scratch.Add "video_count" 1 }}
                            <li class="collection-item">
                                <span class="-muted">
                                    {{ $.Scratch.Get "video_count" }}. 
                                </span>
                                <a href="https://www.youtube.com/watch?v={{ .URL }}">{{ .TITLE }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
    
            {{ if ne (mod ($.Scratch.Get "columns") 2) 0 }} </div> {{ end }}
            {{ $.Scratch.Add "columns" 1 }}
        {{ end }}
    
        {{ if eq (mod ($.Scratch.Get "count") 2) 0 }}
        </div>
        {{ end }}
    </section>
{{ end }}
