{{ define "header_content" }}
<div class="header-background"></div>
<div class="grid split2 content">
    <div class="small padding-v-small">
        <h1 class="margin-none">{{.Title}}</h1>
    </div>
    {{ with (.Resources.GetMatch "banner") }}
    <div class="big flex direction-col-reverse">
        <img src="{{ .Permalink }}" alt="{{ .Name }}" class="side-image card-box -tophalf">
    </div>
    {{ end }}
</div>
{{ end }}


{{ define "main" }}
<section class="grid split2 container">
    <nav class="small padding-v-base chapters">
        <h3>chapters</h3>
        <ul>
            {{ range ( where .Sections "Type" "course_chapter" ) }}
            <li><a href="#{{ replace .Params.title " " "-" }}"> {{ .Params.title }} </a></li>
            {{ end }}
        </ul>
    </nav>

    <div class="big card-box -bottomhalf padding-v-base">
        <div class="padding-tiny">
            {{ .Content }}
        </div>

        <hr>
        <!-- chapter title -->
        <div class="padding-tiny">
            <p>{{ .Description | markdownify }}</p>

            <!-- Video list -->
            <ol class="collection">
              {{ range ( where .Pages "Type" "course_chapter" ) }}
                <h2 id="{{ replace .Params.title " " "-" }}" class="margin-none"> {{ .Params.title }} </h2>
                {{ range (sort ( where .RegularPages "Type" "video" ) "Date") }}
                <li class="item">
                    {{ if (isset .Params "videoid") }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ else }}
                    {{ .Title }} <span data-font="dimmed">Upcoming</span>
                    {{ end }}

                    {{ if or (isset . "document") (isset . "exercise") }}
                    <span>
                        {{ if isset . "document" }}
                        <a href="{{ .document }}"><i class="fa fa-book"></i></a>
                        {{ end }}
                        {{ if isset . "exercise" }}
                        <a href="{{ .exercise }}"><i class="fa fa-file"></i></a>
                        {{ end }}
                    </span>
                    {{ end }}
                </li>
                {{ end }}
              {{ end }}
            </ol>
        </div>
    </div>
</section>


{{ $related := slice }}
{{ range where .Site.RegularPages "Section" "product" }}
  {{ if .Resources.Match "banner" }}
    {{ $related = $related | append . }}
  {{ end }}
{{ end }}
<section id="related" class="container padding-v-base">
    <h2>related products</h2>
    <div class="grid split2 list">
        {{ range first 2 $related }}
        {{ .Render "summary" }}
        {{ end }}
    </div>

    <div data-font="centered" class="padding-top-base">
        <a href="/product" class="button-link">view all</a>
    </div>
</section>


{{ with .Params.author }}
{{ with (index $.Site.Data.authors . ) }}
    {{ partial "modules/author" . }}
{{ end }}
{{ end }}
{{ end }}
