{{ define "head_content" }}
{{ partial "modules/banner" . }}
<div class="grid split2 content">
    <div class="small small-v-padding">
        <h1 class="no-margin">{{.Title}}</h1>
    </div>
    {{ with .Params.banner }}
    <div class="big flex direction-col-reverse">
        <img src="{{ .src }}" alt="" class="side-image card outline top-half">
    </div>
    {{ end }}
</div>
{{ end }}



{{ define "main" }}
<section class="grid split2 container">
    <nav class="small base-v-padding chapters">
        <h3>chapters</h3>
        <ul>
            {{ range ( where .Sections "Type" "course_chapter" ) }}
            <li><a href="#{{ replace .Params.title " " "-" }}"> {{ .Params.title }} </a></li>
            {{ end }}
        </ul>
    </nav>

    <div class="big card bottom-half outline base-v-padding">
        <div class="tiny-padding">
            {{ .Content }}
        </div>

        <hr>
        <!-- chapter title -->
        <div class="tiny-padding">
            <!-- Course duration -->
            <!-- <span data-font="dimmed small">Duration: min s </span> -->
            <p>{{ .Description | markdownify }}</p>

            <!-- Video list -->
            <ol class="collection">
              {{ range ( where .Pages "Type" "course_chapter" ) }}
                <h2 id="{{ replace .Params.title " " "-" }}" class="no-margin"> {{ .Params.title }} </h2>
                {{ range (sort ( where .RegularPages "Type" "video" ) "Date") }}
                <li class="item">
                    {{ if (isset .Params "videoid") }}
                    <a href="{{ .URL }}">{{ .Title }}</a>
                    {{ else }}
                    {{ .Title }} <span data-font="dimmed">Upcoming</span>
                    {{ end }}

                    {{ if or (isset . "document") (isset . "exercise") }}
                    <span>
                        {{ if isset . "document" }}
                        <a href="{{ .document }}"><i class="fa fa-book"></i></a>
                        {{ end }}
                        {{ if isset . "exercise" }}
                        <a href="{{ .exercise }}"><i class="fa fa-file"></i></a>
                        {{ end }}
                    </span>
                    {{ end }}
                    <!-- Video duration -->
                    <!-- <span data-font="dimmed">()</span> -->
                </li>
                {{ end }}
              {{ end }}
            </ol>
        </div>
    </div>
</section>


<section id="related" class="container big-v-padding">
    <h2>related products</h2>
    <div class="grid split2 list">
        {{ range first 2 (where $.Site.Pages "Type" "product") }}
        {{ .Render "summary" }}
        {{ end }}
    </div>

    <div data-font="centered" class="base-top-padding">
        <a href="/product" class="button">view all</a>
    </div>
</section>


<section id="info" class="grid container center big-top-margin">
    {{ with .Params.author }}
    {{ with (index $.Site.Data.authors . ) }}
    {{ partial "modules/author" . }}
    {{ end }}
    {{ end }}
</section>
{{ end }}
