<div class="card-box darkbg">
    {{ $url := .Permalink }}

    {{ partial "components/banner-image" (dict "context" . "is_summary" true) }}

    <div class="content">
        <h4 data-font="ultrabold" class="title"><a href="{{ $url }}">{{ .Title }}</a></h4>
        <div class="flex justify-space-between" data-font="small dimmed">
            <span>
                {{ with .Params.author }}
                {{ with (index $.Site.Data.authors . ) }}
                by: {{ .name }}
                {{ end }}
                {{ end }}
                on: {{ .Date.Format "Jan 2006" }}
            </span>
            <span>{{ range .Params.category }} {{ . }} {{ end }}</span>
        </div>

        <p>{{ .Description | markdownify }} </p>
    </div>
</div>
