ul,
ol {
  padding-left: 1rem;
}

ol {
  counter-reset: item;

  li {
    list-style: none;

    &::before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      margin-right: .2em;
    }
  }
}
