table {
  width: 100%;

  @media ($breakpoint) {
    width: auto;
  }

  thead,
  tfoot {
    background-color: get-color(background, light);
    text-align: left;
  }

  th,
  td {
    line-height: 2.5rem;
    overflow: visible;
    padding: 0 1em;
  }
}