//
// Buttons
// =============================================================================

button,
.button {
  display: inline-block;
  padding: 0 2.5em;
  overflow: visible;

  cursor: pointer;
  line-height: unitSize(6);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  background-color: getColor(base, primary);
  color: getColor(text, ui);
  border: none;

  transition: $transition-duration;
  user-select: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: lighten(getColor(base, primary), 15%);

    color: inherit;
    text-decoration: none;
  }

  &:focus,
  &:active { outline: none; }

  &:active {
    background-color: lighten(getColor(state, primary), 10%);
  }

  &[disabled] {
    background-color: darken(getColor(background, body), 10%);
    color: getColor(text, ui);
    cursor: not-allowed;
  }
}


//
// States
// ------

@each $color-name, $color in $colors {
  @each $color-type, $color-value in $color {
    @if $color-name == "state" {
      .button--#{$color-type} {
        background-color: $color-value;
        box-shadow: 0px 4px 0px 0px darken($color-value, 15%);

        &:hover,
        &:focus { background-color: lighten($color-value, 15%); }

        &:active { background-color: lighten($color-value, 10%); }
      }
    }
  }
}


//
// Sizes
// -----

// Extra small
.button--xsm {
  font-size: pxToEm(12);
  line-height: unitSize(4);
  padding: 0 1.5em;
}

// Small
.button--sm {
  font-size: pxToEm(14);
  line-height: unitSize(5);
  padding: 0 2em;
}

// Large
.button--lg {
  font-size: pxToEm(18);
  line-height: unitSize(7);
  padding: 0 3em;
}

// Extra large
.button--xlg {
  font-size: pxToEm(18);
  line-height: unitSize(8);
  padding: 0 3.5em;
}

// Full-width
.button--full { width: 100%; }

//
// Modifiers
// ---------

// Pill
.button--pill { border-radius: 32px; }

// Flat
// .button--flat {
//   background-color: transparent;
//   color: getColor(text, primary);
//
//
//   &:hover {
//     background-color: rgba(0, 0, 0, .1);
//     color: getColor(text, primary);
//   }
//
//   &[disabled] {
//     background-color: transparent;
//     color: getColor(text, secondary);
//   }
// }

// Collapsible
.button--collapse {
  width: 100%;

  @media (min-width: $bp-extra-small) { width: auto; }
}
